<form [formGroup]="allergyForm">
  <div class="dialog-form-body-container">
    <div class="dialog-form-body">
      <div class="form-group dialog-form-row two-cols">
        <div class="field-container">
          <ft-select
            label="Type d'allergie"
            formControlName="allergyType"
            [options]="allergyTypes"
            variant="flat"
            (valueChange)="onAllergyTypeChange()"
          ></ft-select>
        </div>

        <div class="field-container">
          <ft-input
            label="Allergène"
            [required]="true"
            formControlName="allergen"
            variant="flat"
            placeholder="Ex. Pénicilline"
          ></ft-input>
        </div>
      </div>

      <div class="field-container spacer-mt-4">
        <ft-select
          label="Réaction(s)"
          formControlName="reactions"
          [options]="reactions"
          [multiple]="true"
          variant="flat"
        ></ft-select>
      </div>

      <div class="form-group dialog-form-row two-cols spacer-mt-4">
        <div class="field-container">
          <ft-select
            label="Sévérité"
            formControlName="severity"
            [options]="severities"
            variant="flat"
          ></ft-select>
        </div>

        <div class="field-container">
          <ft-input
            label="Date de diagnostic"
            formControlName="diagnosticDate"
            type="date"
            variant="flat"
          ></ft-input>
        </div>
      </div>

      <div class="field-container spacer-mt-4">
        <ft-input
          label="Note"
          formControlName="note"
          type="textarea"
          variant="flat"
          [isClearable]="true"
        ></ft-input>
      </div>
    </div>
  </div>

  <div class="dialog-footer">
    <ft-button
      label="Annuler"
      variant="ghost"
      (click)="closeDialog()"
      size="sm-size"
    ></ft-button>
    <ft-button 
      label="Enregistrer" 
      variant="flat" 
      color="primary" 
      (click)="saveAllergy()" 
      size="sm-size"
      [state]="!allergyForm.valid ? 'disabled' : 'rest'"
    ></ft-button>
  </div>
</form>

