<!-- input-showcase.component.html -->
<div class="all-case-container">
  <h1>FT-Input Component All cases</h1>
<div class="cases-container">
  <div class="case-row case-row-heading">
    <div class="case-item case-item-heading">

    </div>
    <div class="case-item">
      labelPlacement: inside
    </div>
    <div class="case-item">
      labelPlacement: outside
    </div>
    <div class="case-item">
      labelPlacement: outside left
    </div>

  </div>

  <div class="case-row">
    <div class="case-item case-item-heading vertical-text">
      Normal
    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-inside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">
        <ft-input
          [isLabel]="true"
          [label]="'Username'"
          [size]="size"
          [color]="'primary'"
          [variant]="variant"
          [radius]="radius"
          [disabled]="false"
          [readonly]="false"
          [required]="true"
          [invalid]="false"
          [placeholder]="'Enter your username'"
          [description]="'This is your public display name.'"
          [errorMessage]="'Username is required.'"
          [content]="'default value'"
          [labelPlacement]="'label-outside'"
          [isPrefixIconClass]="isPrefixIconClass"
          [prefixIconClass]="'icon-user'"
          [isSuffix1IconClass]="true"
          [suffix1IconClass]="'icon-close'"
          [isSuffix2IconClass]="true"
          [suffix2IconClass]="'icon-arrow-down'"
          [isClearable]="true"
        >
        </ft-input>


    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside-left'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>

  </div>

  <div class="case-row">
    <div class="case-item case-item-heading vertical-text">
      Hovered
    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [state]="'hovered'"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-inside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [state]="'hovered'"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>


    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [state]="'hovered'"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside-left'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>

  </div>

  <div class="case-row">
    <div class="case-item case-item-heading vertical-text">
      Focused
    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [state]="'focused'"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-inside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [state]="'focused'"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>


    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [state]="'focused'"
        [radius]="radius"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside-left'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>


  </div>

  <div class="case-row">
    <div class="case-item case-item-heading vertical-text">
      Read-Only
    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="false"
        [readonly]="true"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-inside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="false"
        [readonly]="true"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>


    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="false"
        [readonly]="true"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside-left'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>

  </div>

  <div class="case-row">
    <div class="case-item case-item-heading vertical-text">
      Disabled
    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="true"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-inside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="true"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>


    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="size"
        [color]="'primary'"
        [variant]="variant"
        [radius]="radius"
        [disabled]="true"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside-left'"
        [isPrefixIconClass]="isPrefixIconClass"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>

  </div>

</div>
</div>
