<!-- input-showcase.component.html -->
<div class="all-case-container">
  <h1>FT-Input Component All cases</h1>
<div class="cases-container">
  <div class="case-row case-row-heading">
    <div class="case-item case-item-heading">

    </div>
    <div class="case-item">
      test
    </div>
    <div class="case-item">
      test
    </div>
    <div class="case-item">
      test
    </div>
    <div class="case-item">
      test
    </div>
  </div>

  <div class="case-row">
    <div class="case-item case-item-heading vertical-text">
      test
    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="'lg-size'"
        [color]="'primary'"
        [variant]="'bordered'"
        [radius]="'md-radius'"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-inside'"
        [isPrefixIconClass]="true"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="'lg-size'"
        [color]="'primary'"
        [variant]="'bordered'"
        [radius]="'md-radius'"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside'"
        [isPrefixIconClass]="true"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">
      <ft-input
        [isLabel]="true"
        [label]="'Username'"
        [size]="'lg-size'"
        [color]="'primary'"
        [variant]="'bordered'"
        [radius]="'md-radius'"
        [disabled]="false"
        [readonly]="false"
        [required]="true"
        [invalid]="false"
        [placeholder]="'Enter your username'"
        [description]="'This is your public display name.'"
        [errorMessage]="'Username is required.'"
        [content]="'default value'"
        [labelPlacement]="'label-outside-left'"
        [isPrefixIconClass]="true"
        [prefixIconClass]="'icon-user'"
        [isSuffix1IconClass]="true"
        [suffix1IconClass]="'icon-close'"
        [isSuffix2IconClass]="true"
        [suffix2IconClass]="'icon-arrow-down'"
        [isClearable]="true"
      >
      </ft-input>

    </div>
    <div class="case-item">

    </div>
    <div class="case-item">

    </div>
  </div>
</div>
</div>
