<header class="header">
  <div class="logo">
    <span class="logo-fire">FIRE</span><span class="logo-his">HIS</span>
  </div>

  <div class="actions">
    <ft-search (queryChange)="onSearch($event)"></ft-search>

    <ft-badge [showDot]="true" severity="primary">
      <ft-button variant="ghost" [isLabel]="false" [isPrefixIconClass]="true" prefixIconClass="notifications"
        radius="full-radius" aria-label="Notifications">
      </ft-button>
    </ft-badge>

    <ft-theme-switcher></ft-theme-switcher>

    <ft-button variant="ghost" [isLabel]="false" [isPrefixIconClass]="true" prefixIconClass="settings"
      radius="full-radius" aria-label="Settings">
    </ft-button>

    <ft-button variant="ghost" [isLabel]="false" [isPrefixIconClass]="true" prefixIconClass="person"
      radius="full-radius" aria-label="Profile">
    </ft-button>

    <ft-button variant="ghost" [isLabel]="false" [isPrefixIconClass]="true" prefixIconClass="logout"
      radius="full-radius" aria-label="Logout">
    </ft-button>
  </div>
</header>
