:root {

  /* --- Alias colors --- */
  --ft-color-primary: var(--color-mauve-500);
  --ft-color-on-primary: #fff;
  --ft-color-secondary: #6c757d;
  --ft-color-success: #28a745;
  --ft-color-danger: #dc3545;
  --ft-color-warning: #ffc107;
  --ft-color-info: #DBECF2;

  --ft-color-electric-primary: #34C759;
  --ft-color-electric-secondary: #ff00ae;

  --ft-color-text-primary: #000;
  --ft-color-text-secondary: rgba(0, 0, 0, 0.8);
  --ft-color-text-tertairy: rgba(0, 0, 0, 0.4);

  --ft-color-text-muted: #b3b3b3;
  --ft-color-background-muted: #f7f7f7;


  --ft-color-background-primary: rgba(255, 255, 255, 0.85);
  --ft-color-background-secondary: #fff;
  --ft-color-background-tertiary: #f0f0f0;
  --ft-color-background-quaternary: #e3e3e3;
  --ft-color-background-quinary: rgba(255, 255, 255, 0.5);
  --ft-color-background-senary: #fafafa;

}
