<div class="ft-checkbox-field-container" [class]="size + ' ' + state()" [class.checked]="value"
    [class.indeterminate]="indeterminate" [class.inactive]="disabled || state() === 'disabled'" [class.invalid]="invalid"
    (click)="toggle()">
    <div class="field">
        <div class="checkbox">
            <div class="control">
                @if (value && !indeterminate) {
                <span class="material-symbols-rounded check-icon">check</span>
                }
                @if (indeterminate) {
                <span class="material-symbols-rounded indeterminate-icon">remove</span>
                }
            </div>
        </div>
    </div>
    @if (isLabel || isDescription) {
    <div class="content" [ngClass]="{
           'content-2xs--normal': size === 'xs-size',
           'content-xs--normal': size === 'sm-size' || size === 'md-size',
           'content-sm--normal': size === 'lg-size',
           }">
        @if (isLabel) {
        <div class="label">
            {{label}}
        </div>
        }
        @if (isDescription) {
        <div class="description">
            {{description}}
        </div>
        }
    </div>
    }
</div>
