<form [formGroup]="vaccinationForm">
  <div class="dialog-form-body-container">
    <div class="dialog-form-body">

      <div class="field-container">
        <ft-input
          label="Vaccin"
          [required]="true"
          formControlName="vaccineName"
          variant="flat"
          placeholder="Ex. Vaccin antigrippal"
        ></ft-input>
      </div>

      <div class="field-container">
        <ft-input
          label="Date d'administration"
          formControlName="administrationDate"
          type="date"
          variant="flat"
        ></ft-input>
      </div>

      <div class="field-container">
        <ft-input
          label="Notes"
          formControlName="notes"
          type="textarea"
          variant="flat"
          [isClearable]="true"
        ></ft-input>
      </div>

    </div>
  </div>

  <div class="dialog-footer">
    <ft-button
      label="Annuler"
      variant="ghost"
      (click)="closeDialog()"
      size="sm-size"
    ></ft-button>
    <ft-button 
      label="Enregistrer" 
      variant="flat" 
      color="primary" 
      (click)="saveVaccination()" 
      size="sm-size"
      [state]="!vaccinationForm.valid ? 'disabled' : 'rest'"
    ></ft-button>
  </div>
</form>

