<div class="all-case-container">
    <h1 class="showcase-title">Button Group All Cases</h1>
    <div class="cases-container">
        <div class="case-row case-row-heading">
            <div class="case-item case-item-heading"></div>
            <div class="case-item">Flat</div>
            <div class="case-item">Outlined</div>
            <div class="case-item">Faded</div>
            <div class="case-item">Ghost</div>
        </div>
        @for (state of states; track state) {
        <div class="case-row">
            <div class="case-item case-item-heading vertical-text">
                {{state}}
            </div>
            @for (variant of variants; track variant) {
            <div class="case-item">
                <ft-button-group [state]="state" [size]="size" [color]="color" [variant]="variant" [radius]="radius"
                    [flexDirection]="flexDirection" [buttons]="buttons">
                </ft-button-group>
            </div>
            }
        </div>
        }
    </div>
</div>