<form [formGroup]="medicalAntecedentForm">
  <div class="dialog-form-body-container">
    <div class="dialog-form-body">
      <div class="field-container">
        <ft-input
          label="Valeur"
          [required]="true"
          formControlName="medicalConditionName"
          variant="flat"
          placeholder="Ex. Hypertension"
        ></ft-input>
      </div>

      <div class="form-group dialog-form-row two-cols">
        <div class="field-container">
          <ft-input
            label="Date de diagnostic"
            formControlName="diagnosticDate"
            type="date"
            variant="flat"
          ></ft-input>
        </div>

        <div class="field-container">
          <ft-select
            label="Status"
            formControlName="status"
            [options]="statusOptions"
            variant="flat"
          ></ft-select>
        </div>
      </div>

      <div class="form-group flex-col-container">
        <div class="field-container flex items-center gap-4">
          <label for="isFamilial">Antécédent familial</label>
          <ft-toggle
            [value]="medicalAntecedentForm.get('isFamilial')?.value"
            (valueChange)="medicalAntecedentForm.get('isFamilial')?.setValue($event)"
          ></ft-toggle>
        </div>

        <div class="field-sub-group">
          <div class="field-container">
            <ft-select
              label="Relation"
              formControlName="relation"
              [options]="relationOptions"
              variant="flat"
              [disabled]="!medicalAntecedentForm.get('isFamilial')?.value"
              [required]="medicalAntecedentForm.get('isFamilial')?.value"
            ></ft-select>
          </div>
          <div class="field-container field-group-row">
            <label for="isDeceased">Décédé</label>
            <ft-toggle
              [value]="medicalAntecedentForm.get('isDeceased')?.value"
              (valueChange)="medicalAntecedentForm.get('isDeceased')?.setValue($event)"
              [disabled]="!medicalAntecedentForm.get('isFamilial')?.value"
            ></ft-toggle>
          </div>
        </div>
      </div>

      <div class="field-container spacer-mt-4">
        <ft-input
          label="Note"
          formControlName="note"
          type="textarea"
          variant="flat"
          [isClearable]="true"
        ></ft-input>
      </div>
    </div>
  </div>

  <div class="dialog-footer">
    <ft-button
      label="Annuler"
      variant="ghost"
      (click)="closeDialog()"
      size="sm-size"
    ></ft-button>
    <ft-button 
      label="Enregistrer" 
      variant="flat" 
      color="primary" 
      (click)="saveMedicalAntecedent()" 
      size="sm-size"
      [state]="!medicalAntecedentForm.valid ? 'disabled' : 'rest'"
    ></ft-button>
  </div>
</form>

