<div class="ft-accordion-item" [class.is-expanded]="expanded" [class.is-disabled]="disabled"
     [class]="borderClass"
     [style.--_accordion-border-color-custom]="borderColor && !isSemanticColor(borderColor) ? borderColor : null"
     [style.--_accordion-expanded-border-color-custom]="expandedBorderColor && !isSemanticColor(expandedBorderColor) ? expandedBorderColor : null">
    <div class="accordion-header" (click)="toggle()">
        <div class="header-content">
            <div class="header-start">
                @if (icon) {
                <i class="material-symbols-rounded header-icon">{{ icon }}</i>
                }
                <span class="header-label">{{ label }}</span>
            </div>

            <div class="header-middle">
                <span class="header-value">{{ value }}</span>
                <span class="header-sub-value">{{ subValue }}</span>
                @if (trendIcon) {
                <i class="material-symbols-rounded trend-icon" [class]="trendColor">{{ trendIcon }}</i>
                }
            </div>

            <div class="header-end">
                @if (actionIcon) {
                <div class="action-icons" (click)="onActionClick($event)">
                    <i class="material-symbols-rounded action-icon">{{ actionIcon }}</i>
                </div>
                }
                <i class="material-symbols-rounded toggle-icon">
                    {{ expanded ? 'expand_less' : 'expand_more' }}
                </i>
            </div>
        </div>
    </div>

    <div class="accordion-content" [class.show]="expanded">
        <div class="content-wrapper">
            <ng-content></ng-content>
        </div>
    </div>
</div>