:host {
  display: block;
  background-color: var(--ft-color-surface-level-300);
  /*padding: var(--ft-unit-400)*/
}

table {
  /*border-collapse: separate;*/
  /*border-spacing: var(--ft-unit-400);*/
/*  background-color: var(--ft-color-surface-level-300);*/
/*  padding: var(--ft-unit-400)*/
}

tr th {
  color: var(--ft-color-on-surface-level-300);
  font-size: var(--ft-text-2xs);
  font-weight: 400;
  padding: var(--ft-unit-200) var(--ft-unit-400);
}
tr td,
tr th {
  border-right: var(--ft-border-primary) solid var(--ft-color-border-200);
  border-bottom: var(--ft-border-primary) solid var(--ft-color-border-200);
}

tr td:first-child,
tr th:first-child {
  padding: var(--ft-unit-200) var(--ft-unit-400);
}

tr td:first-child {
  color: var(--ft-color-on-surface-level-300);
  font-size: var(--ft-text-2xs);
}


td:has(.cell) {
  overflow: hidden;
  font-size: var(--ft-text-2xs);
}

.cell {
  display: flex;
  width: max-content;
  gap: var(--ft-unit-400);
  padding: var(--ft-unit-400);
  align-items: center;
  .color-sample-outer-container {
    /* Define the size of the square unit */
    --square-size: 3px;

    /* Define the two colors */
    --color-light: var(--ft-color-surface-level-300); /* Light gray */
    --color-dark: var(--ft-color-n-on-surface-100); /* Dark gray */

    display: flex;
    width: 30px;
    height: 30px;

    /*background-color: #fff;*/
    /*background-image:*/
    /*  linear-gradient(45deg, #ccc 25%, transparent 25%),*/
    /*  linear-gradient(-45deg, #ccc 25%, transparent 25%),*/
    /*  linear-gradient(45deg, transparent 75%, #ccc 75%),*/
    /*  linear-gradient(-45deg, transparent 75%, #ccc 75%);*/
    /*background-size: 20px 20px;*/
    /*background-position: 0 0, 0 10px, 10px -10px, -10px 0px;*/

    /* --- SIMPLER CHECKERBOARD using repeating-conic-gradient --- */
    background-image: repeating-conic-gradient(
      var(--color-light) 0% 25%,
      var(--color-dark) 25% 50%
    );

    /* Set the size of the repeating tile (2x2 squares) */
    background-size: calc(2 * var(--square-size)) calc(2 * var(--square-size));

    border: var(--ft-border-tertiary) solid var(--ft-color-surface-level-300);
    border-radius: var(--ft-radius-200);
    box-shadow: 0 1px 3px var(--ft-color-shadow-200);

    .color-sample-container {

      border: var(--ft-border-primary) solid var(--ft-color-border-200);
      width: 100%;
      height: 100%;
      display: flex;
      gap: var(--ft-border-primary);
      /*position: relative;*/
      .color-sample {
        width: 50%;
        height: 100%;
        /*position: absolute;*/
        /*top: 50%;*/
        /*left: 50%;*/
        /*transform: translate(-50%, -50%);*/


      }

      /*.solid {*/
      /*  border-right: var(--ft-border-primary) solid var(--ft-color-border-200);*/
      /*}*/

    }

  }

}
