<div class="ft-table-wrapper">
  <table class="ft-table">
    <thead>
      <tr class="header-row">
        @for (col of columns(); track col.key) {
        <th [class]="col.key" [style.width]="col.width" [style.max-width]="col.maxWidth"
          [style.min-width]="col.minWidth" [class.sticky-column]="col.sticky === 'left'"
          [class.sticky-column-right]="col.sticky === 'right'" [class.sorted]="isSorted(col.key)"
          (click)="col.sortable !== false && onSort(col.key)">

          @if (col.type === 'checkbox') {
          <div class="checkbox-cell-content" (click)="$event.stopPropagation()">
            <ft-checkbox [value]="isAllSelected()" (valueChange)="toggleSelectAll()"></ft-checkbox>
          </div>
          } @else {
          <div class="th-content">
            {{ col.label }}
            @if (col.sortable !== false) {
            <span class="sort-icon material-symbols-rounded" [class.active]="isSorted(col.key)">
              {{ getSortIcon(col.key) }}
            </span>
            }
          </div>
          }
        </th>
        }
      </tr>
    </thead>
    <tbody>
      @for (row of data(); track row.id) {
      <tr [class.selected]="isSelected(row)" (click)="toggleRow(row, $event)" class="clickable-row">
        @for (col of columns(); track col.key) {
        <td [class]="col.key" [style.width]="col.width" [style.max-width]="col.maxWidth"
          [style.min-width]="col.minWidth" [class.sticky-column]="col.sticky === 'left'"
          [class.sticky-column-right]="col.sticky === 'right'">

          <div class="cell-content">
            @if (columnTemplates[col.key]) {
            <ng-container
              *ngTemplateOutlet="columnTemplates[col.key]; context: { $implicit: row, column: col }"></ng-container>
            } @else {
            @switch (col.type) {
            @case ('checkbox') {
            <div class="checkbox-cell-content" (click)="$event.stopPropagation()">
              <ft-checkbox [value]="isSelected(row)" (valueChange)="onCheckboxChange(row, $event)"></ft-checkbox>
            </div>
            }
            @case ('date') {
            {{ row[col.key] | date:'dd/MM/yyyy' }}
            }
            @default {
            {{ row[col.key] }}
            }
            }
            }
          </div>
        </td>
        }
      </tr>
      }
    </tbody>
  </table>
</div>