<div class="all-case-container">
  <h1 class="showcase-title">FT-Input All cases</h1>
  <div class="cases-container">
    <div class="case-row case-row-heading">
      <div class="case-item case-item-heading">

      </div>
      <div class="case-item">
        labelPlacement: inside
      </div>
      <div class="case-item">
        labelPlacement: outside
      </div>
      <div class="case-item">
        labelPlacement: outside left
      </div>

    </div>
    @for (state of states; track state) {
    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        {{state}}
      </div>
      @for (labelPlacement of labelPlacements; track labelPlacement) {
      <div class="case-item">
        <ft-input
          [isLabel]="true"
          [label]="'Username'"
          [state]="state"
          [size]="size"
          [color]="'primary'"
          [variant]="variant"
          [radius]="radius"
          [required]="true"
          [placeholder]="'Enter your username'"
          [isDescription]="isDescription"
          [description]="'This is your public display name.'"
          [errorMessage]="'Username is required.'"
          [content]="'y.amrani'"
          [labelPlacement]="labelPlacement"
          [isPrefixIconClass]="isPrefixIconClass"
          [prefixIconClass]="'person'"
          [isSuffix1IconClass]="true"
          [suffix1IconClass]="'close_small'"
          [isSuffix2IconClass]="true"
          [suffix2IconClass]="'keyboard_arrow_down'"
          [isClearable]="true"
        >
        </ft-input>

      </div>
      }

    </div>
    }

  </div>
</div>
