<div class="all-case-container">
  <h1 class="showcase-title">FT-Input All cases</h1>
  <div class="cases-container">
    <div class="case-row case-row-heading">
      <div class="case-item case-item-heading"></div>
      <div *ngFor="let placement of labelPlacements" class="case-item">
        {{ placement }}
      </div>
    </div>
    @for (state of states; track state) {
    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        {{state}}
      </div>
      @for (labelPlacement of labelPlacements; track labelPlacement) {
      <div class="case-item">
        <ft-input [isLabel]="true" [label]="'Username'" [state]="state === 'with-description' ? 'rest' : state"
          [size]="size" [color]="color" [variant]="variant" [radius]="radius" [required]="true"
          [placeholder]="placeholder" [isDescription]="isDescription || state === 'with-description'"
          [description]="'This is your public display name.'" [errorMessage]="'Username is required.'"
          [content]="'y.amrani'" [labelPlacement]="labelPlacement" [isPrefixIconClass]="isPrefixIconClass"
          [prefixIconClass]="prefixIconClass" [isSuffix1IconClass]="isSuffix1IconClass" [suffix1IconClass]="suffix1IconClass"
          [isSuffix2IconClass]="isSuffix2IconClass" [suffix2IconClass]="suffix2IconClass" [isClearable]="true"
          [showContent]="showContent" [startContent]="startContent" [endContent]="endContent" [inputType]="inputType">
        </ft-input>

      </div>
      }

    </div>
    }

  </div>
</div>

