<div class="all-case-container">
    <h1 class="showcase-title">Toggle All Cases</h1>
    <div class="cases-container">
        <div class="case-row case-row-heading">
            <div class="case-item case-item-heading"></div>
            <div class="case-item">Selected (ON)</div>
            <div class="case-item">Unselected (OFF)</div>
            <div class="case-item">With Description</div>
        </div>

        @for (state of states; track state) {
        <div class="case-row">
            <div class="case-item case-item-heading vertical-text">
                {{state}}
            </div>

            <!-- Selected (ON) -->
            <div class="case-item">
                <ft-toggle [isLabel]="isLabel" [label]="label" [labelPosition]="labelPosition" [variant]="variant"
                    [size]="size" [state]="state === 'disabled' || state === 'invalid' ? 'rest' : state"
                    [invalid]="state === 'invalid'" [value]="true" [disabled]="state === 'disabled'">
                </ft-toggle>
            </div>

            <!-- Unselected (OFF) -->
            <div class="case-item">
                <ft-toggle [isLabel]="isLabel" [label]="label" [labelPosition]="labelPosition" [variant]="variant"
                    [size]="size" [state]="state === 'disabled' || state === 'invalid' ? 'rest' : state"
                    [invalid]="state === 'invalid'" [value]="false" [disabled]="state === 'disabled'">
                </ft-toggle>
            </div>

            <!-- With Description -->
            <div class="case-item">
                <ft-toggle [isLabel]="true" label="With Description" [isDescription]="true"
                    description="Detailed context." [labelPosition]="labelPosition" [variant]="variant" [size]="size"
                    [state]="state === 'disabled' || state === 'invalid' ? 'rest' : state"
                    [invalid]="state === 'invalid'" [value]="true" [disabled]="state === 'disabled'">
                </ft-toggle>
            </div>
        </div>
        }
    </div>
</div>