<mat-sidenav-container class="main-sidenav-container" [class.expanded]="expanded()">
  <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
               [fixedInViewport]="isMobile()"
               class="main-sidenav"
               [opened]="!isMobile()"
  (transitionend)="onDrawerTransitionEnd($event)"
  >
<!--    <mat-nav-list>-->
<!--      @for (nav of fillerNav; track nav) {-->
<!--        <a mat-list-item>{{nav}}</a>-->
<!--      }-->
<!--    </mat-nav-list>-->
    <div class="ft-flex-center main-sidenav-header">
<!--      <span class="ft-flex-center logo sidenav-elem" *ngIf="isMobile() || isElementVisible" [class.opacity-100]="isMobile() || isElementVisible">Logo</span>-->
<!--      <button (click)="fold(snav)" *ngIf="snav.opened"><i class="icon-menu"></i></button>-->

      <div class="main-sidenav-nav-item">
        <button (click)="fold(snav)" *ngIf="snav.opened"><i class="icon-menu"></i></button>
        <div class="ft-flex-center" *ngIf="isMobile()">
          <span class="ft-flex-center"></span>
        </div>
      </div>
    </div>
    <div class="flex-grow main-sidenav-body">

        <div class="main-sidenav-nav-item active">
          <i class="icon-users"></i>
          <div class="ft-flex-center sidenav-elem" *ngIf="isMobile() || isElementVisible" [class.opacity-100]="isMobile() || isElementVisible">
            <span class="ft-flex-center">Patients</span>
          </div>
        </div>
      <div class="main-sidenav-nav-item">
          <i class="icon-visit"></i>
          <div class="ft-flex-center sidenav-elem" *ngIf="isMobile() || isElementVisible" [class.opacity-100]="isMobile() || isElementVisible">
            <span class="ft-flex-center">Visites</span>
          </div>
        </div>
      <div class="main-sidenav-nav-item">
          <i class="icon-admission"></i>
          <div class="ft-flex-center sidenav-elem" *ngIf="isMobile() || isElementVisible" [class.opacity-100]="isMobile() || isElementVisible">
            <span class="ft-flex-center">Admissions</span>
          </div>
        </div>
      <div class="main-sidenav-nav-item">
          <i class="icon-hospitalization"></i>
          <div class="ft-flex-center sidenav-elem" *ngIf="isMobile() || isElementVisible" [class.opacity-100]="isMobile() || isElementVisible">
            <span class="ft-flex-center">Hospitalisations</span>
          </div>
        </div>

    </div>
    <div class="main-sidenav-footer">
      <div class="main-sidenav-nav-item">
        <i class="icon-help2"></i>
        <div class="ft-flex-center" *ngIf="isMobile()">
          <span class="ft-flex-center">Support</span>
        </div>
      </div>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="flex flex-col w-full h-full">
      <div class="main-toolbar">
        <div class="flex items-center gap-3">
          <button (click)="snav.open()" *ngIf="!snav.opened"><i class="icon-menu"></i></button>

          <span class="ft-flex-center logo">Logo</span>
        </div>
        <div class="flex gap-6">
          <button><i class="icon-search"></i></button>
          <!-- <button><i class="icon-theme"></i></button> -->
          <ft-theme-switcher></ft-theme-switcher>
          <button><i class="icon-bell"></i></button>
          <button class="!hidden lg:!flex"><i class="icon-setting"></i></button>
          <button><i class="icon-user"></i></button>
          <button class="!hidden lg:!flex"><i class="icon-logout"></i></button>
        </div>
      </div>

      <div #mainContent class="main-content">
        <router-outlet></router-outlet>

      </div>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
