<div class="lg:!flex main-sidenav">
  <div class="ft-flex-center">
    <button><i class="icon-menu"></i></button>
  </div>
  <div class="ft-flex-center flex-grow">
    <div class="ft-flex-center">
      <div class="ft-flex-center flex-col flex-grow">
        <i class="icon-users"></i>
        <div class="ft-flex-center">
          <span class="ft-flex-center">Patients</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ft-flex-center">
    <button><i class="icon-help2"></i></button>
  </div>
</div>
<div class="flex flex-col w-full">
  <div class="main-toolbar">
    <div class="flex items-center gap-3">
      <i class="icon-menu lg:!hidden"></i
      ><span class="ft-flex-center logo">Logo</span>
    </div>
    <div class="flex gap-6">
      <button><i class="icon-search"></i></button>
      <!-- <button><i class="icon-theme"></i></button> -->
      <ft-theme-switcher></ft-theme-switcher>
      <button><i class="icon-bell"></i></button>
      <button class="!hidden lg:!flex"><i class="icon-setting"></i></button>
      <button><i class="icon-user"></i></button>
      <button class="!hidden lg:!flex"><i class="icon-logout"></i></button>
    </div>
  </div>

  <div #mainContent class="main-content">
    <div class="patient-info ft-panel">
      <button><i class="icon-arrow-left !text-4xl"> </i></button>
      <span
        class="truncate flex-grow justify-start items-center lg:flex-grow-0 ft-text"
      >
        Mr. AHMED IBRAHIMI
      </span>
      <span class="hidden lg:inline-block chip-color-info chip"
      >Première hospitalisation
      </span>
      <div class="hidden lg:flex sub-info">
        <div class="flex items-center gap-2">
          <i class="icon-gender2"></i>
          <span class="leading-none">Homme</span>
        </div>
        <div class="ft-vdivider h-5"></div>
        <div class="flex flex-grow items-center gap-2 w-0 max-w-fit">
          <i class="icon-birthday"></i>
          <span class="truncate leading-none flex-grow">
            24 ans et 4 mois
          </span>
        </div>
        <div class="ft-vdivider h-5"></div>
        <div class="flex items-center gap-2">
          <span class="font-bold leading-none">Chambre:</span>
          <span class="leading-none">305</span>
        </div>
        <div class="ft-vdivider h-5"></div>
        <div class="flex items-center gap-2">
          <span class="font-bold leading-none">Lit:</span>
          <span class="leading-none">A</span>
        </div>
      </div>

      <button class="ft-icon-button ft-flex-center">
        <i class="icon-vertical-dots"></i>
      </button>
    </div>

    <div class="lg:!hidden ft-panel secondary-navbar">
      <div class="flex flex-grow gap-1 h-full">
        <div
          class="ft-flex-center flex-grow xxl:justify-center gap-2 w-0 relative"
        >
          <div class="ft-flex-center w-full h-full">
            <span class="truncate font-normal inline-block active">
              Historique Medical
            </span>
          </div>
        </div>
      </div>
      <button class="more">
        <i class="icon-arrow-down"></i>
      </button>
    </div>

    <div class="!hidden lg:!flex ft-panel gap-1 secondary-navbar">
      <div class="flex flex-grow gap-1 h-full">
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
            <span class="ft-text"> Détails du patient </span>
          </div>
        </div>
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
            <span class="ft-text"> Assurance </span>
          </div>
        </div>
        <div
          class="ft-flex-center flex-col flex-grow xxl:justify-center w-0 relative"
        >
          <div
            class="ft-flex-center w-full h-full border-b border-[var(--ft-color-primary)]"
          >
            <span class="ft-text !text-[var(--ft-color-primary)]">
              Historique Medical
            </span>
          </div>
          <div
            class="w-[77%] border-b border-[var(--ft-color-primary)] absolute bottom-0 blur-xl"
          ></div>
          <div
            class="w-full border-b border-[var(--ft-color-primary)] absolute bottom-0 blur-[3px] opacity-20"
          ></div>
          <div
            class="w-full border-b-2 border-[var(--ft-color-primary)] absolute bottom-0 blur-2xl"
          ></div>
        </div>
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
            <span class="ft-text"> Biométrie </span>
          </div>
        </div>
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
            <span class="ft-text"> Pièces jointes </span>
          </div>
        </div>
      </div>
      <button class="more">
        <i class="icon-arrow-down"></i>
      </button>
    </div>

    <div class="ft-panel lg:h-auto lg:!overflow-auto tab-body-container">
      <div class="flex justify-end tab-body-header">
        <div class="flex items-center gap-2">
          <!--          <span class="font-bold leading-none">Last update</span>-->
          <div class="flex items-center gap-2">
            <span class="leading-none">29/05/2024</span>
            <button><i class="icon-date"></i></button>
          </div>
        </div>
      </div>

      <div #tabBodyContent class="lg:!flex-row tab-body-content">
        <div class="hm-container lg:pr-3">
          @for (item of medicalHistoryEntities; track item.title) {
            <div class="mini-card">
              <div class="header">
                <div class="flex items-center gap-2">
                  <span class="leading-none ft-text">{{ item.title }}</span>
                </div>
                <div class="flex items-center gap-2">
                  <button (click)="showDialog()"><i class="icon-plus"></i></button>
                </div>
              </div>
              <div class="mini-card-body">
                @for (block of item.blocks; track block.title) {
                  <div class="micro-card">
                    <div class="flex justify-between items-center gap-3 w-full">
                      <div class="flex items-center gap-2">
                        @if (block.status) {
                          <span class="chip" [class]="block.class">{{
                              block.status
                            }}</span>
                        }
                        @if (block.surgeon) {
                          <span class="ft-sub-title"
                          >Surgeon: {{ block.surgeon }}</span
                          >
                        }
                        @if (block.date) {
                          <span class="ft-sub-title">{{ block.date }}</span>
                        }
                        @if (block.note) {
                          <i class="icon-comment"></i>
                        }
                      </div>
                      <!--                      <div class="flex items-center gap-2">-->
                      <!--                        <button><i class="icon-close"></i></button>-->
                      <!--                      </div>-->
                    </div>
                    <div class="flex flex-col overflow-hidden">
                      <span class="leading-none ft-text">{{ block.title }}</span>
                    </div>
                  </div>
                }
              </div>
            </div>

          }
        </div>

        <div class="general-notes">
          <div class="comment">
            <div class="comment-header">
              <div class="flex items-center gap-2">
                <span class="ft-text">Notes générales</span>
              </div>
              <div class="flex items-center gap-2">
                <button><i class="icon-search"></i></button>
              </div>
            </div>
            <div class="comment-body-outer-container lg:!overflow-auto">
              <div class="ft-top-scroll-overlay-container">
                <div class="ft-scroll-overlay"></div>
              </div>
              <div class="comment-body-container">
                @for (comment of comments; track comment.id) {
                  <div class="comment-block">
                    <div class="flex justify-between items-center gap-3 w-full">
                      <div class="flex items-center gap-2">
                      <span class="ft-img-profile">{{
                          comment.author.charAt(0)
                        }}</span>
                        <div class="flex flex-col">
                          <span class="ft-title">{{ comment.author }}</span>
                          <span class="ft-sub-title">{{ comment.date }}</span>
                        </div>
                      </div>
                      <div class="flex items-center gap-2">
                        <button><i class="icon-vertical-dots"></i></button>
                      </div>
                    </div>
                    <div class="flex flex-col overflow-hidden">
                      @if (comment.quoteId) {
                        @if (getCommentById(comment.quoteId); as quotedComment) {
                          <div class="quoted">
                            <div class="ft-indicator"></div>
                            <span>{{ quotedComment.author }}</span>
                            <p class="ft-text">
                              {{ quotedComment.text }}
                            </p>
                          </div>
                        }
                      }
                      <p>
                        {{ comment.text }}
                      </p>
                    </div>
                  </div>
                }
              </div>
              <div class="ft-bottom-scroll-overlay-container">
                <div class="ft-scroll-overlay"></div>
              </div>
            </div>
            <div class="comment-send-block">
              <div class="flex items-center gap-2">
                <span>Ajouter une note</span>
              </div>
              <div class="flex items-center gap-2">
                <button><i class="icon-sent"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal" *ngIf="isModalOpen">
  <div (click)="$event.stopPropagation()">
    <div class="form-container">
      <div class="success-message" id="successMessage">
        Enregistrement réussi !
      </div>

      <form id="medicalHistoryForm" class="form-md">
        <!-- Antécédent Médical -->
        <div class="form-group">
          <label for="condition">Antécédent médical *</label>
          <div class="input-wrapper">
            <input type="text" id="condition" list="conditions" required/>
            <datalist id="conditions">
              <option value="Diabète"></option>
              <option value="Hypertension"></option>
              <option value="Asthme"></option>
              <option value="Cancer"></option>
              <option value="Maladie cardiaque"></option>
            </datalist>

            <button type="button" class="reset-btn">×</button>
          </div>
          <div class="error-message">Ce champ est obligatoire</div>
        </div>

        <!-- Antécédent Médical -->
        <div class="form-group">
          <div class="form-field">
            <div class="field-content">
              <label for="condition">Antécédent médical *</label>
              <input type="text" id="new-condition" required/>
            </div>
            <div class="field-actions">
              <button type="button" class="reset-btn">
                <i class="icon-close"></i>
              </button>
            </div>
          </div>
          <!-- Date de Diagnostic -->
          <!--          <div class="form-field">-->
          <!--            <div class="field-content">-->
          <!--              <label for="diagnosisDate">Date de diagnostic</label>-->
          <!--              <input type="date" id="diagnosisDate" required />-->
          <!--            </div>-->

          <!--            <div class="field-actions">-->
          <!--              <button type="button">-->
          <!--                <i class="icon-date"></i>-->
          <!--              </button>-->
          <!--              <button type="button" class="reset-btn">-->
          <!--                <i class="icon-close"></i>-->
          <!--              </button>-->
          <!--            </div>-->
          <!--          </div>-->

          <p-floatlabel variant="in">
            <input pInputText id="in_label" [(ngModel)]="value2" autocomplete="off"/>
            <label for="in_label">In Label</label>
          </p-floatlabel>

          <p-floatlabel variant="in">
            <p-datepicker [(ngModel)]="value2" id="in_label" showIcon iconDisplay="input"/>
            <label for="in_label">In Label</label>
          </p-floatlabel>
        </div>

        <!-- Statut -->
        <div class="form-group">
          <label for="status">Statut</label>
          <select id="status">
            <option value="active" selected>Actif</option>
            <option value="remission">En rémission</option>
            <option value="resolved">Résolu</option>
          </select>
        </div>

        <!-- Antécédent Familial -->
        <div class="form-group">
          <div class="switch-container">
            <label class="switch">
              <input type="checkbox" id="familyHistory"/>
              <span class="slider"></span>
            </label>
            <label for="familyHistory">Antécédent familial</label>
          </div>
        </div>

        <!-- Relation -->
        <div class="form-group hidden" id="relationGroup">
          <label for="relation">Relation *</label>
          <select id="relation">
            <option value="">Sélectionner...</option>
            <option value="parent">Parent</option>
            <option value="sibling">Frère/Sœur</option>
            <option value="child">Enfant</option>
          </select>
          <div class="error-message">Ce champ est obligatoire</div>
        </div>

        <!-- Décédé -->
        <div class="form-group hidden" id="deceasedGroup">
          <div class="switch-container">
            <label class="switch">
              <input type="checkbox" id="deceased"/>
              <span class="slider"></span>
            </label>
            <label for="deceased">Décédé</label>
          </div>
        </div>

        <!-- Notes -->
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" rows="4"></textarea>
        </div>

        <div class="button-group">
          <button type="submit" class="btn-primary" disabled>
            Enregistrer
          </button>
          <button type="button" class="btn-secondary">Annuler</button>
          <p-button label="Check"/>
        </div>
      </form>
    </div>
    <!--    <button (click)="closeModal()">Close</button>-->
  </div>
</div>
<div id="backdrop" *ngIf="isModalOpen" (click)="closeModal()"></div>

<!--<p-dialog maskStyleClass="backdrop-blur-xs" styleClass="!border-0 dialog-md" header="Edit Profile" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">-->

<p-dialog maskStyleClass="backdrop-blur-xl" styleClass="border-0 dialog-md" header="Ajouter un antécédent médical"
          [modal]="true" [(visible)]="visible">

  <div class="dialog-form-body-container">
    <div class="dialog-form-body">
      <div class="field-container">
        <p-floatlabel variant="in" class="w-full">
          <p-autocomplete
            [required]="true"
            [(ngModel)]="value2"
            [suggestions]="items"
            (completeMethod)="search($event)"
            [showClear]="true"
            class="flex-grow"
            id="value"
            variant="filled"/>
          <label for="value">Valeur *</label>
        </p-floatlabel>
      </div>
      <div class="form-group">


        <div class="field-container">
          <p-floatlabel variant="in" class="w-full">
            <p-datepicker [(ngModel)]="value3" [showClear]="true" id="diagnostic_date" showIcon iconDisplay="input"
                          variant="filled"></p-datepicker>
            <label for="diagnostic_date">Date de diagnostic</label>
          </p-floatlabel>
        </div>

        <div class="field-container">
          <p-floatlabel class="w-full" variant="in">
            <p-select [(ngModel)]="medicalConditionStatus" [showClear]="true" id="in_label3" [options]="medicalConditionStatuses"
                      optionLabel="name" styleClass="w-full" variant="filled"/>
            <label for="in_label3">Status</label>
          </p-floatlabel>
        </div>

      </div>
      <div class="form-group flex-col">
        <div class="field-container w-auto">
<!--          <div class="flex items-center gap-2">-->
<!--            <label for="switch1">Antécédent familial</label>-->
<!--            <p-toggleswitch class="flex" [(ngModel)]="checked" id="switch1" />-->
<!--          </div>-->
          <label for="switch1">Antécédent familial</label>
          <p-toggleswitch class="flex" [(ngModel)]="checked" id="switch1" />
        </div>
        <div class="form-sub-group flex flex-col lg:flex-row align-center gap-4">
          <div class="field-container w-auto">
            <p-floatlabel class="w-full" variant="in">
              <p-select [(ngModel)]="relation" [showClear]="true" id="in_label4" [options]="relations"
                        optionLabel="name" class="w-full lg:w-[170px]" variant="filled"/>
              <label for="in_label4">Relation</label>
            </p-floatlabel>
          </div>
          <div class="field-container">
            <label for="switch2">Décédé</label>
            <p-toggleswitch class="flex" [(ngModel)]="checked2" id="switch2"/>
          </div>
        </div>
      </div>
<!--      <div class="form-group">-->
<!--        <p-floatlabel variant="in" class="w-full">-->
<!--          <textarea pTextarea id="over_label" [(ngModel)]="value5" rows="5" cols="30" style="resize: none"-->
<!--                    class="w-full" variant="filled"></textarea>-->
<!--          <label for="over_label">Note</label>-->
<!--        </p-floatlabel>-->
<!--      </div>-->
      <div class="form-container">
        <p-floatlabel variant="in">
          <div class="p-inputgroup w-full">
            <textarea
              pTextarea
              id="over_label"
              [(ngModel)]="value5"
              rows="5"
              cols="30"
              style="resize: none"
              class="w-full"
              variant="filled"
            ></textarea>
            <p-button icon="pi pi-times" severity="secondary" [rounded]="true" [text]="true" (click)="clearTextarea()" *ngIf="value5" />
          </div>
          <label for="over_label">Note</label>
        </p-floatlabel>
      </div>
    </div>
  </div>

  <!--  <div class="flex items-center gap-4 mb-4">-->
  <!--    <label for="username" class="font-semibold w-24">Username</label>-->
  <!--    <input pInputText id="username" class="flex-auto" autocomplete="off" />-->
  <!--  </div>-->


  <!--  <div class="flex items-center gap-4 mb-8">-->
  <!--    <label for="email" class="font-semibold w-24">Email</label>-->
  <!--    <input pInputText id="email" class="flex-auto" autocomplete="off" />-->
  <!--  </div>-->
  <div class="flex justify-end gap-2 dialog-footer">
    <p-button label="Cancel" severity="secondary" (click)="visible = false" size="small"/>
    <p-button label="Save" (click)="visible = false" size="small"/>
  </div>
</p-dialog>
