<div class="lg:!flex main-sidenav main-sidenav2">
  <div class="ft-flex-center"><i class="icon-menu"></i></div>
  <div class="ft-flex-center flex-grow">
    <div class="ft-flex-center">
      <div class="ft-flex-center flex-col flex-grow">
        <i
          class="icon-users"
        ></i>
        <div class="ft-flex-center">
          <span class="ft-flex-center">Patients</span>
        </div>
      </div>
    </div>
  </div>
  <div class="ft-flex-center">
    <i class="icon-help2"></i>
  </div>
</div>
<div class="flex flex-col w-full">
  <div class="main-toolbar">
    <div class="flex items-center gap-3">
      <i class="icon-menu lg:!hidden"></i
      ><span class="ft-flex-center logo">Logo</span>
    </div>
    <div class="flex gap-6">
      <i class="icon-search"></i
      ><i class="icon-theme"></i
    ><i class="icon-bell"></i
    ><i class="icon-setting !hidden lg:!flex"></i
    ><i class="icon-user"></i
    ><i class="icon-logout !hidden lg:!flex"></i>
    </div>
  </div>

  <div class="flex flex-col flex-grow pr-4 pl-4 pb-4 gap-4 overflow-auto">
    <div class="patient-info">
      <i class="icon-arrow-left !text-4xl"></i>
      <span
        class="truncate flex-grow justify-start items-center lg:flex-grow-0"
      >
            Mr. AHMED IBRAHIMI
          </span>
      <span
        class="truncate hidden lg:inline-block rounded-full bg-[#edfccc] border border-[#e4f2c4] px-2 py-px text-[rgb(76,124,23)]"
      >Première hospitalisation
          </span>
      <div class="hidden lg:flex flex-grow items-center gap-3">
        <div class="flex items-center gap-2">
          <i class="icon-gender2"></i>
          <span class="leading-none">Homme</span>
        </div>
        <div class="ft-vdivider h-5"></div>
        <div class="flex flex-grow items-center gap-2 w-0 max-w-fit">
          <i class="icon-birthday"></i>
          <span class="truncate leading-none flex-grow">
                24 ans et 4 mois
              </span>
        </div>
        <div class="ft-vdivider h-5"></div>
        <div class="flex items-center gap-2">
          <span class="font-bold leading-none">Chambre:</span>
          <span class="leading-none">305</span>
        </div>
        <div class="ft-vdivider h-5"></div>
        <div class="flex items-center gap-2">
          <span class="font-bold leading-none">Lit:</span>
          <span class="leading-none">A</span>
        </div>
      </div>
      <div class="ft-icon-button">
        <i class="icon-vertical-dots"></i>
      </div>
    </div>

    <div class="lg:!hidden ft-panel secondary-navbar">
      <div class="flex flex-grow gap-1 h-full">
        <div
          class="ft-flex-center flex-grow xxl:justify-center gap-2 w-0 relative"
        >
          <div class="ft-flex-center w-full h-full">
                <span class="truncate font-normal inline-block text-black">
                  Historique Medical
                </span>
          </div>
        </div>
      </div>
      <div
        class="ft-flex-center p-[6px] h-full w-14 ft-shade-bg"
      >
        <i class="icon-arrow-down"></i>
      </div>
    </div>

    <div class="!hidden lg:!flex ft-panel gap-1 secondary-navbar">
      <div class="flex flex-grow gap-1 h-full">
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
                <span
                  class="ft-inline-text"
                >
                  Détails du patient
                </span>
          </div>
        </div>
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
                <span
                  class="ft-inline-text"
                >
                  Assurance
                </span>
          </div>
        </div>
        <div
          class="ft-flex-center flex-col flex-grow xxl:justify-center w-0 relative"
        >
          <div
            class="ft-flex-center w-full h-full border-b border-[#6946d5]"
          >
                <span class="truncate font-normal inline-block text-[#6946d5]">
                  Historique Medical
                </span>
          </div>
          <div
            class="w-[77%] border-b border-[#6946d5] absolute bottom-0 blur-xl"
          ></div>
          <div
            class="w-full border-b border-[#6946d5] absolute bottom-0 blur-[3px] opacity-20"
          ></div>
          <div
            class="w-full border-b-2 border-[#6946d5] absolute bottom-0 blur-2xl"
          ></div>
        </div>
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
                <span
                  class="ft-inline-text"
                >
                  Biométrie
                </span>
          </div>
        </div>
        <div class="ft-flex-center flex-grow gap-2 w-0">
          <div class="ft-flex-center w-full h-full">
                <span
                  class="ft-inline-text"
                >
                  Pièces jointes
                </span>
          </div>
        </div>
      </div>
      <div
        class="ft-flex-center p-[6px] h-full w-14 ft-shade-bg"
      >
        <i class="icon-arrow-down"></i>
      </div>
    </div>

    <div class="flex-col flex-grow ft-panel">
      <div class="flex justify-end tab-body-header">
        <div class="flex items-center gap-2">
          <span class="font-bold leading-none">Last update</span>
          <div class="flex items-center gap-2">
            <span class="leading-none">29/05/2024</span>
            <i class="icon-arrow-down"></i>
          </div>
        </div>
      </div>

      <div
        class="flex flex-col flex-grow lg:flex-row w-full gap-4 overflow-auto pl-4 pr-4 pb-4"
      >
        <div
          class="flex flex-grow content-start flex-wrap gap-4 overflow-visible hm-container lg:pr-3"
        >
          <div class="mini-card">
            <div class="flex justify-between gap-3 w-full">
              <div class="flex items-center gap-2">
                <span class="leading-none">Allergique à</span>
              </div>
              <div class="flex items-center gap-2" id="test">
                <i
                  class="icon-plus"
                ></i>
              </div>
            </div>
            <div class="mini-card-body">
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-red-200 text-red-900 border-green-200"
                        >Severe</span
                        >
                    <i
                      class="icon-comment"
                    ></i>
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Penicillin</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-orange-200 text-orange-900 border-green-200"
                        >Mild</span
                        >
                    <i
                      class="icon-comment"
                    ></i>
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Dust Mites</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mini-card">
            <div class="flex justify-between gap-3 w-full">
              <div class="flex items-center gap-2">
                    <span class="leading-none"
                    >A été évalué pour le risque de</span
                    >
              </div>
              <div class="flex items-center gap-2">
                <i
                  class="icon-plus"
                ></i>
              </div>
            </div>
            <div class="mini-card-body">
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-red-200 text-red-900 border-green-200"
                        >Severe</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Cardiovascular Risk</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-orange-200 text-orange-900 border-green-200"
                        >Medium</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Diabetes Risk</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-green-200 text-green-900 border-green-200"
                        >Low</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Fall Risk (Elderly)</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mini-card">
            <div class="flex justify-between gap-3 w-full">
              <div class="flex items-center gap-2">
                <span class="leading-none">Medical conditions</span>
              </div>
              <div class="flex items-center gap-2">
                <i
                  class="icon-plus"
                ></i>
              </div>
            </div>
            <div class="mini-card-body">
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-blue-200 text-black border-green-200"
                        >Active</span
                        >
                    <i
                      class="icon-comment"
                    ></i>
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Hypertension</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-blue-200 text-black border-green-200"
                        >Active</span
                        >
                    <i
                      class="icon-comment"
                    ></i>
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Type 2 Diabetes</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mini-card">
            <div class="flex justify-between gap-3 w-full">
              <div class="flex items-center gap-2">
                <span class="leading-none">Treatments</span>
              </div>
              <div class="flex items-center gap-2">
                <i
                  class="icon-plus"
                ></i>
              </div>
            </div>
            <div class="mini-card-body">
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-green-200 text-green-900 border-green-200"
                        >En cours</span
                        >
                    <i
                      class="icon-comment"
                    ></i>
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Amoxicilline 500mg</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Type 2 Diabetes</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mini-card">
            <div class="flex justify-between gap-3 w-full">
              <div class="flex items-center gap-2">
                <span class="leading-none">Vacciné contre</span>
              </div>
              <div class="flex items-center gap-2">
                <i
                  class="icon-plus"
                ></i>
              </div>
            </div>
            <div class="mini-card-body">
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">ImmunoBarrier Plus</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-green-200 text-green-900 border-green-200"
                        >En cours</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">HealthShield Proactive</span>
                </div>
              </div>
              <!-- Additional vaccine items go here -->
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">VitaProtect Advanced</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">SafeGuard Elite</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">ProtectGuard Max</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">CureShield Ultra</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-green-200 text-green-900 border-green-200"
                        >En cours</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">DefendGuard Supreme</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">ShieldGuard</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">VitaDefender</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">ImmunoDefend Pro</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-green-200 text-green-900 border-green-200"
                        >En cours</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">DefendPlus</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span
                          class="flex items-center justify-center tag bg-teal-200 text-teal-900 border-green-200"
                        >Terminé</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">SafeProtect Advanced</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mini-card">
            <div class="flex justify-between gap-3 w-full">
              <div class="flex items-center gap-2">
                <span class="leading-none">Chirurgical history</span>
              </div>
              <div class="flex items-center gap-2">
                <i
                  class="icon-plus"
                ></i>
              </div>
            </div>
            <div class="mini-card-body">
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span class="leading-none text-gray-500"
                        >Surgeon: Dr. Johnson</span
                        >
                    <i
                      class="icon-comment"
                    ></i>
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Appendectomy</span>
                </div>
              </div>
              <div
                class="micro-card"
              >
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                        <span class="leading-none text-gray-500"
                        >Surgeon: Dr. Martinez</span
                        >
                  </div>
                  <div class="flex items-center gap-2">
                    <i
                      class="icon-close"
                    ></i>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none">Paracétamol 1000mg</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="general-notes">
          <div
            class="flex flex-col rounded-2xl w-full overflow-hidden h-full border-2 ft-shade-border"
          >
            <div
              class="flex justify-between items-center gap-3 w-full p-4 ft-shade-bg"
            >
              <div class="flex items-center gap-2">
                <span class="text-black">General Notes</span>
              </div>
              <div class="flex items-center gap-2">
                <i
                  class="icon-search"
                ></i>
              </div>
            </div>
            <div class="h-full overflow-auto">
              <div class="flex flex-col">
                <div
                  class="flex flex-col w-full p-4 gap-2 border-b-2 ft-shade-border"
                >
                  <div
                    class="flex justify-between items-center gap-3 w-full"
                  >
                    <div class="flex items-center gap-2">
                          <span
                            class="font-bold ft-flex-center rounded-full bg-black/10 px-2 py-px text-black w-10 h-10 text-xl"
                          >S</span
                          >
                      <div class="flex flex-col">
                        <span class="text-black">Sanna Samar</span>
                        <span class="text-black/70 text-[13px]"
                        >il y a 23 minutes</span
                        >
                      </div>
                    </div>
                    <div class="flex items-center gap-2">
                      <i
                        class="icon-vertical-dots"
                      ></i>
                    </div>
                  </div>
                  <div class="flex flex-col overflow-hidden">
                    <p class="text-black/80">
                      Je tiens à laisser une note concernant le service que
                      j'ai reçu ici. J'ai rencontré un problème avec la
                      coordination des rendez-vous, où les horaires
                      n'étaient pas toujours respectés. J'apprécierais une
                      meilleure gestion de l'emploi du temps pour une
                      expérience plus fluide à l'avenir.
                    </p>
                  </div>
                </div>
                <div
                  class="flex flex-col w-full p-4 gap-2 border-b-2 ft-shade-border"
                >
                  <div
                    class="flex justify-between items-center gap-3 w-full"
                  >
                    <div class="flex items-center gap-2">
                          <span
                            class="font-bold ft-flex-center rounded-full bg-black/10 px-2 py-px text-black w-10 h-10 text-xl"
                          >S</span
                          >
                      <div class="flex flex-col">
                        <span class="text-black">Sanna Samar</span>
                        <span class="text-black/70 text-[13px]"
                        >il y a 10 minutes</span
                        >
                      </div>
                    </div>
                    <div class="flex items-center gap-2">
                      <i
                        class="icon-vertical-dots"
                      ></i>
                    </div>
                  </div>
                  <div class="flex flex-col overflow-hidden">
                    <p class="text-black/80">
                      J'ai eu des difficultés à joindre le service client
                      par téléphone. Veuillez améliorer la réactivité.
                    </p>
                  </div>
                </div>
                <div class="flex flex-col w-full p-4 gap-2">

                  <div
                    class="flex justify-between items-center gap-3 w-full"
                  >
                    <div class="flex items-center gap-2">
                          <span
                            class="font-bold ft-flex-center rounded-full bg-black/10 px-2 py-px text-black w-10 h-10 text-xl"
                          >H</span
                          >
                      <div class="flex flex-col">
                        <span class="text-black">Dr.Hicham El Youbi</span>
                        <span class="text-black/70 text-[13px]"
                        >il y a 18 secondes</span
                        >
                      </div>
                    </div>
                    <div class="flex items-center gap-2">
                      <i
                        class="icon-vertical-dots"
                      ></i>
                    </div>
                  </div>
                  <div class="flex flex-col overflow-hidden gap-3">
                    <div
                      class="px-4 py-2 ft-shade-bg ft-shade-border rounded-lg"
                    >
                      <span class="text-black text-[13px]">Sanna Samar</span>
                      <p class="m-0 text-xs text-black/80">
                        J'ai eu des difficultés à joindre le service client
                        par téléphone. Veuillez améliorer la réactivité.
                      </p>
                    </div>
                    <p class="text-black/80">
                      Nous vous remercions de nous avoir informés de ce
                      problème. Nous allons immédiatement examiner nos
                      processus pour améliorer la réactivité de notre
                      service client par téléphone. Votre retour est
                      précieux pour nous.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="flex justify-between items-center gap-3 w-full px-4 py-3 ft-shade-bg"
            >
              <div class="flex items-center gap-2">
                    <span class="text-black/70 text-[13px]"
                    >Ajouter une note</span
                    >
              </div>
              <div class="flex items-center gap-2">
                <i
                  class="icon-sent"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div id="modal">attache</div>
<div id="backdrop"></div>
