.group-field-container {
  display: flex;

  flex-direction: column;
  gap: 0;
  .group-field-content-container {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    .group-field-content {
      display: flex;
      gap: var(--ft-unit-200);
    }
    .helper-text-container {
      min-height: 1.25em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: var(--ft-unit-100);
    }
  }

  &.inactive {
    .group-field-label {
      color: var(--ft-color-on-surface-muted);
    }

  }
}

.error-text {
  color: var(--ft-color-danger);
  /*padding: 0 var(--ft-unit-200);*/
}
