<div class="group-field-container" [class.inactive]="inactive">
  <div class="group-field-label content-xs--normal">
    {{label()}}
  </div>
  <div class="group-field-content-container">
    <div class="group-field-content" [ngClass]="flexDirection()">
      @for (option of options(); track option; let i = $index) {
        <ft-radio [name]="name()"
          [value]="option.value !== undefined ? option.value : option.label" [isLabel]="option.isLabel"
          [label]="option.label" [isDescription]="isDescription() || option.isDescription"
          [description]="option.description" [size]="option.size || size()" [state]="option.state || 'rest'"
          [invalid]="invalid() || (option.invalid || false)"
          [select]="value === (option.value !== undefined ? option.value : option.label)"
          (selectChange)="onOptionSelected(option.value !== undefined ? option.value : option.label)"
          [inactive]="inactive || (option.inactive || false)">
        </ft-radio>
      }
    </div>
    <div class="helper-text-container">
      @if (invalid() && errorMessage) {
        <div class="error-message">
          <p class="error-text content-2xs--normal">{{ errorMessage }}</p>
        </div>
      }
      @if (description && !invalid()) {
        <div class="description">
          <p class="highlight content-2xs--normal">{{ description }}</p>
        </div>
      }
    </div>
  </div>

</div>
