<!--<label [class.disabled]="disabled">-->
<!--  <span *ngIf="label">{{ label }} <span *ngIf="required">*</span></span>-->
<!--  <div class="input-wrapper"-->
<!--       [ngClass]="[size, color, variant, radius, {'invalid': invalid}]">-->
<!--    <input [(ngModel)]="value"-->
<!--           [placeholder]="placeholder"-->
<!--           [disabled]="disabled"-->
<!--           [readonly]="readonly"-->
<!--    />-->
<!--    <button *ngIf="isClearable && value" (click)="clear()">✕</button>-->
<!--  </div>-->
<!--  <small *ngIf="invalid">{{ errorMessage }}</small>-->
<!--  <small *ngIf="!invalid && description">{{ description }}</small>-->
<!--</label>-->


<div class="field-container" [class]="labelPlacement + ' ' + size">
  <div *ngIf="isLabel && labelPlacement !== 'label-inside'" class="label-row">
    <span class="label leading-none"
          [ngClass]="{
           'content-2xs--normal': size === 'sm-size' || size === 'md-size' || size === 'xs-size',
           'content-xs--normal': size === 'lg-size',
           }"
    >{{ label }} <span *ngIf="required">*</span></span>
  </div>
  <div class="input-wrapper" [class]="radiusClasses">
    <div *ngIf="isPrefixIconClass && prefixIconClass" class="prefix">
      <i [class]="prefixIconClass"></i>
    </div>
    <div class="content-section">
      <div *ngIf="isLabel && labelPlacement === 'label-inside'" class="label-row">
        <span class="label leading-none"
              [ngClass]="{
           'content-2xs--normal': size === 'sm-size' || size === 'md-size' || size === 'xs-size',
           'content-xs--normal': size === 'lg-size',
           }"
        >{{ label }} <span *ngIf="required">*</span></span>
      </div>
      <div *ngIf="content" class="content-row">
        <p class="content leading-none"
           [ngClass]="{
           'content-xs--normal': size === 'xs-size',
           'content-sm--normal': size === 'sm-size' || size === 'md-size',
           'content-md--normal': size === 'lg-size',
           }"
        >{{ content }}</p>
      </div>
      <div *ngIf="placeholder" class="placeholder-row">
        <p class="placeholder content-xs--normal">{{ placeholder }}</p>
      </div>
    </div>
    <div class="suffix-icon flex">
      <div *ngIf="isSuffix1IconClass && suffix1IconClass" class="suffix1">
        <i [class]="suffix1IconClass"></i>
      </div>
      <div *ngIf="isSuffix2IconClass && suffix2IconClass" class="suffix2">
        <i [class]="suffix2IconClass"></i>
      </div>
    </div>
  </div>
  <div *ngIf="invalid && errorMessage" class="error-message">
    <p class="error-text content-2xs--normal">{{ errorMessage }}</p>
  </div>
  <div *ngIf="description" class="description">
    <p class="highlight content-2xs--normal">{{ description }}</p>
  </div>
</div>
