<!-- input-showcase.component.html -->
<div class="all-case-container">
  <h1 class="showcase-title">Radio All Cases</h1>
  <div class="cases-container">
    <div class="case-row case-row-heading">
      <div class="case-item case-item-heading">

      </div>
      <div class="case-item">
        Selected
      </div>
      <div class="case-item">
        Unselected
      </div>
      <div class="case-item">
        With Description
      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Rest
      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'rest'" [invalid]="false" [select]="true" [inactive]="false">
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'rest'" [invalid]="false" [select]="false" [inactive]="false">
        </ft-radio>


      </div>

      <div class="case-item">
        <ft-radio [isLabel]="true" label="With Description" [isDescription]="true"
          description="Providing additional context." [size]="size" [state]="'rest'" [invalid]="false" [select]="true"
          [inactive]="false">
        </ft-radio>
      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Hover
      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'hover'" [invalid]="false" [select]="true" [inactive]="false">
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'hover'" [invalid]="false" [select]="false" [inactive]="false">
        </ft-radio>


      </div>

      <div class="case-item">
        <ft-radio [isLabel]="true" label="With Description" [isDescription]="true"
          description="Providing additional context." [size]="size" [state]="'hover'" [invalid]="false" [select]="true"
          [inactive]="false">
        </ft-radio>
      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Press
      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'press'" [invalid]="false" [select]="true" [inactive]="false">
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'press'" [invalid]="false" [select]="false" [inactive]="false">
        </ft-radio>


      </div>

      <div class="case-item">
        <ft-radio [isLabel]="true" label="With Description" [isDescription]="true"
          description="Providing additional context." [size]="size" [state]="'press'" [invalid]="false" [select]="true"
          [inactive]="false">
        </ft-radio>
      </div>



    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Focus
      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'focus'" [invalid]="false" [select]="true" [inactive]="false">
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'focus'" [invalid]="false" [select]="false" [inactive]="false">
        </ft-radio>


      </div>

      <div class="case-item">
        <ft-radio [isLabel]="true" label="With Description" [isDescription]="true"
          description="Providing additional context." [size]="size" [state]="'focus'" [invalid]="false" [select]="true"
          [inactive]="false">
        </ft-radio>
      </div>



    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Disabled
      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'rest'" [invalid]="false" [select]="true" [inactive]="true">
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'rest'" [invalid]="false" [select]="false" [inactive]="true">
        </ft-radio>


      </div>

      <div class="case-item">
        <ft-radio [isLabel]="true" label="With Description" [isDescription]="true"
          description="Providing additional context." [size]="size" [state]="'rest'" [invalid]="false" [select]="true"
          [inactive]="true">
        </ft-radio>
      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Invalid
      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'rest'" [invalid]="true" [select]="true" [inactive]="false">
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio [isLabel]="isLabel" [label]="label" [isDescription]="isDescription" [description]="description"
          [size]="size" [state]="'rest'" [invalid]="true" [select]="false" [inactive]="false">
        </ft-radio>


      </div>

      <div class="case-item">
        <ft-radio [isLabel]="true" label="With Description" [isDescription]="true"
          description="Providing additional context." [size]="size" [state]="'rest'" [invalid]="true" [select]="true"
          [inactive]="false">
        </ft-radio>
      </div>


    </div>

  </div>
</div>