<button [class]="'button-container ' + size() + ' ' + variant() + ' ' + state() + ' ' + color() + ' ' + radiusClasses()"
  [disabled]="state() === 'disabled'" type="button"
  [attr.popovertarget]="popovertarget()" [attr.popovertargetaction]="popovertargetaction()">
  <div class="button-wrapper">
    @if (isPrefixIconClass() && prefixIconClass) {
      <div class="prefix-icon">
        <!--      <i [class]="prefixIconClass"></i>-->
        <span class="material-symbols-rounded">{{prefixIconClass}}</span>
      </div>
    }
    @if (isLabel) {
      <div class="content-section">
        @if (isLabel) {
          <div class="label-row">
        <span class="label truncate" [ngClass]="{
           'content-3xs--bold': size() === 'xs-size',
           'content-2xs--bold': size() === 'sm-size',
           'content-xs--bold': size() === 'md-size',
           'content-sm--bold': size() === 'lg-size',
           }">{{ label() }}</span>
          </div>
        }
      </div>
    }
    @if (isSuffixIconClass() && suffixIconClass) {
      <div class="suffix-icon flex">
        <div class="suffix">
          <!--        <i [class]="suffixIconClass"></i>-->
          <span class="material-symbols-rounded">{{suffixIconClass}}</span>
        </div>
      </div>
    }
  </div>
</button>
