/* 
 * ==========================================================================
 * NORD THEME
 * ==========================================================================
 */

@layer app-variables {
  [data-theme='nord'] {
    /* --- Nord Palette Primitives --- */
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --ft-color-primary: var(--nord10);
    --ft-color-secondary: var(--nord7);
    --ft-color-tertiary: var(--nord3);
    --ft-color-success: var(--nord14);
    --ft-color-danger: var(--nord11);
    --ft-color-warning: var(--nord13);
    --ft-color-info: var(--nord8);

    --ft-color-highlight: linear-gradient(90deg, var(--nord10), var(--nord8));
  }

  [data-theme='nord'][data-mode='light'] {
    --ft-color-mix-a: var(--nord6);
    --ft-color-mix-z: var(--nord0);
    --ft-color-solid-surface: var(--nord6);
    --ft-color-solid-on-surface: var(--nord0);
    --ft-color-background-image: none;
    /* background-color: var(--nord6); Removal of direct background-color on root to avoid conflicts */
  }

  [data-theme='nord'][data-mode='dark'] {
    --ft-color-mix-a: var(--nord0);
    --ft-color-mix-z: var(--nord6);
    --ft-color-solid-surface: var(--nord1);
    --ft-color-solid-on-surface: var(--nord6);
    --ft-color-background-image: none;
    /* background-color: var(--nord0); */
  }
}
