@layer material-styles {
  .main-sidenav-container {
    background-color: transparent !important;
    flex-grow: 1;
  }

  :root {
    --mat-sidenav-container-width: 250px;
  }

  .mat-drawer-side {
    border-right-width: 0 !important;
  }

  .main-sidenav {

    /*padding: 0 var(--ft-spacing-md);*/
    /*background-colors: var(--ft-colors-background-quinary);*/
    box-shadow: var(--box-shadow-panel) !important;
    background-color: var(--ft-color-background-primary) !important;
    backdrop-filter: blur(8px);
    overflow: hidden;
    /*transition: width 1s ease-in-out !important;*/
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;

    > .mat-drawer-inner-container {
      overflow: visible !important;
      display: flex;
      flex-direction: column;
      gap: var(--ft-spacing-3xl);
      padding: var(--ft-spacing-md) 0;
    }

    .main-sidenav-header {
      height: 54px;
      /*padding: 0 var(--ft-spacing-md);*/

      .main-sidenav-nav-item {
        width: 100%;
      }

      .logo {
        justify-content: flex-start;
        flex-grow: 1;
      }
    }

    .main-sidenav-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .sidenav-elem {
      opacity: 0;
      transition: opacity 3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .main-sidenav-nav-item {
      display: flex;
      width: auto;
      height: var(--ft-spacing-7xl);
      flex-direction: row;
      align-items: center;
      gap: var(--ft-spacing-sm);
      margin-left: var(--ft-spacing-md);
      margin-right: 0;
      padding-right: var(--ft-spacing-md);
      padding-left: var(--ft-spacing-md);
      border-radius: var(--ft-radius-pill) 0 0 var(--ft-radius-pill);

      &.active {
        /*background-colors: var(--ft-colors-background-secondary);*/
        background-color: var(--ft-color-dark-alpha-primary);
        color: var(--ft-color-text-primary);
        border-right: var(--ft-border-tertiary) solid var(--ft-color-primary);
      }
    }

    .main-sidenav-footer {
      height: 54px;
      display: flex;
      align-items: center;
    }
  }

  .mat-drawer-content {
    margin-left: 0 !important;
  }

  /*.main-sidenav {*/
  /*  background-colors: var(--ft-colors-background-primary) !important;*/
  /*  backdrop-filter: blur(8px);*/
  /*  > .mat-drawer-inner-container {*/
  /*    overflow: visible !important;*/
  /*    display: flex;*/
  /*    flex-direction: column;*/
  /*  }*/
  /*}*/
  /*.mat-mdc-header-row,*/
  /*.mat-mdc-row {*/
  /*  min-width: 100%;*/
  /*}*/

  /* Table */

  .mat-mdc-table {
    /*height: 100%;*/
    position: static;
  }

  .mdc-data-table__content:has(.mat-mdc-no-data-row){
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .mat-mdc-no-data-row {
      display: flex;
    }
  }

  .mat-footer-row,
  .mat-header-row,
  .mat-row {
    display: inline-flex;
    min-width: 100%;
  }

  .mat-mdc-header-row,
  .mat-mdc-row {
    min-width: 100%;
  }
  .mat-mdc-row {
    /*max-height: var(--mat-table-row-item-container-height);*/
  }

  /* Apply to BOTH header and data cells in the second last column */
  .mat-mdc-header-row mat-header-cell:nth-last-child(2),
  .mat-mdc-row mat-cell:nth-last-child(2) {
  /*background-colors: #f0f0f0;*/
  /*font-weight: bold;*/
  /*flex: 0 0 100%;*/
    flex-grow: 1;
    max-width: 100%;
  }

  .mat-mdc-header-cell {
    --mat-table-row-item-outline-color: var(--ft-color-dark-alpha-secondary);
    /*--mat-table-row-item-outline-width: var(--ft-border-primary);*/
    --mat-table-row-item-outline-width: 0;
    /*border-bottom-width: 1px;*/
    /*border-top: var(--ft-border-primary) solid var(--ft-colors-dark-alpha-secondary);*/
  }

  .mat-mdc-header-cell.mat-mdc-table-sticky::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 1px;
    background-color: var(--ft-color-dark-alpha-secondary);
  }

  .mat-mdc-header-cell.mat-mdc-table-sticky::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--ft-color-dark-alpha-secondary);
  }

  .mat-column-select {
    /*flex: 0 0 60px;*/
    width: 60px;
  }

  .mat-mdc-cell {
    background-color: unset;
  }

  .mat-mdc-row:nth-child(odd) {
    background-color: var(--ft-color-table-alternate-row) !important;
  }

  .mat-mdc-row:nth-child(even) {
    background-color: transparent !important;
  }

  .mat-mdc-paginator {
    border-top: var(--ft-border-primary) solid var(--ft-color-dark-alpha-secondary);
  }

  .list-container {
    background-color: var(--ft-color-background-primary);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    overflow: auto;

    .list-header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: var(--ft-spacing-md);
      gap: var(--ft-spacing-md);
      justify-content: space-between;

      .table-search-container {
        display: flex;
        align-items: center;
        --p-select-padding-y: 0;
        gap: var(--ft-spacing-sm);
        flex-grow: 1;
        .save {
          /*--mat-icon-colors: var(--ft-colors-success);*/
          margin-left: 8px;
          i {
            font-size: 1rem;
          }
        }
        .p-select {
          height: var(--ft-spacing-3xl);
        }
        .p-select-label {
          font-weight: var(--font-weight-medium);
          display: inline-flex;
          align-items: center;
          line-height: 1;
        }
        .table-view-container {
          display: flex;
          align-items: center;
          .mat-mdc-icon-button:first-child {
            --mdc-icon-button-state-layer-size: var(--ft-spacing-3xl);
            width: var(--ft-spacing-6xl) !important;
            background: var(--ft-color-background-tertiary) !important;
            border-radius: var(--radius-lg) 0 0 var(--radius-lg) !important;
            /*height: 36px;*/
            border-right: var(--ft-border-secondary) solid var(--ft-color-on-primary) !important;
            .mat-icon {
              width: 100% !important;
              display: flex !important;
              justify-content: center;
              &::after {
                width: 8px;
                height: 8px;
                border-radius: var(--ft-radius-pill);
                background-color: var(--ft-color-primary);
                z-index: 9;
                content: '';
                position: absolute;
                right: 0;
                top: 0;
              }
              i {
                font-size: 1rem;
              }
            }
          }
          .p-select {
            border-radius: 0 var(--radius-lg) var(--radius-lg) 0 !important;
          }
          .updated {
            &::after {
              width: 8px;
              height: 8px;
              border-radius: var(--ft-radius-pill);
              background-color: var(--ft-color-primary);
              z-index: 9;
              content: '';
              position: absolute;
              right: 0;
              top: 0;
            }
          }
        }
      }

      .table-search {
        max-width: 400px;
        flex-grow: 1;

        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }

        input::-webkit-input-placeholder {
          color: var(--ft-color-text-tertairy) !important;
          font-size: var(--text-sm);
        }
      }

      .table-actions-container {
        display: flex;
        align-items: center;
        gap: var(--ft-spacing-sm);
        .filter-button {
          .mdc-button__label {
            display: flex;
            align-items: center;
            gap: var(--ft-spacing-xs);
            .filter-number {
              height: var(--ft-spacing-md);
              width: var(--ft-spacing-md);
              background-color: var(--ft-color-primary);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: var(--ft-radius-pill);
              color: var(--ft-color-on-primary);
              font-size: var(--ft-text-3xs);
            }
          }
        }
      }

      .popover-menu li button {
        padding: 4px 8px;
        text-decoration: none;
        color: #333;
        border-radius: 6px;
        white-space: nowrap; /* Prevent menu items from wrapping */
        display: flex;
        align-items: center;
        gap: 8px;
        border: 0 solid red !important;
        width: 100%;
        > * {
          line-height: 1;
        }
        .mdc-button__label {
          flex-grow: 1;
          text-align: justify;
        }
      }
    }
    .list-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      overflow: auto;
      .table-container {
        flex-grow: 1;
        overflow: auto;
        position: relative;
      }
    }
  }

  /* Buttons */
  .mdc-button {
    line-height: 1 !important;
    overflow: hidden !important;

    &.mat-mdc-unelevated-button {

      & > .mat-icon {
        height: unset !important;
        width: unset !important;
        --mat-icon-color: var(--ft-color-text-primary);
      }
    }
    &.mat-mdc-unelevated-button:not(:disabled) {
      border: var(--ft-border-secondary) solid var(--ft-color-dark-alpha-secondary) !important;
    }
    &.mat-mdc-button-disabled {
      color: var(--ft-color-text-muted);
    }
  }
  /* ripple */
  .mat-mdc-button-ripple {
    border-radius: 0 !important;
  }

  /* Button icons */
  .mat-mdc-icon-button {
    display: flex !important;
  }

  /* Form Field */
  .mat-mdc-form-field-input-control {
    font-family: var(--ft-font-family-base) !important;
    font-size: var(--text-sm) !important;
  }

  .mdc-text-field--filled {
    border-bottom-left-radius: var(--ft-radius-pill) !important;
    border-bottom-right-radius: var(--ft-radius-pill) !important;
    border: var(--ft-border-secondary) solid var(--ft-color-dark-alpha-secondary);
    transition: border-color 0.2s ease-in-out;

    &.mdc-text-field--focused {
      border-color: var(--ft-color-primary);
    }

    .mat-mdc-form-field-icon-suffix {
      width: var(--ft-spacing-5xl);
      & > * {
        padding: 0 var(--ft-spacing-sm);
      }
      .mat-icon {
        background-color: var(--ft-color-text-tertairy);
        border-radius: var(--ft-radius-pill);
        height: var(--ft-spacing-md) !important;
        width: var(--ft-spacing-md) !important;
        i {
          width: var(--ft-spacing-md);
          height: var(--ft-spacing-md);
          font-size: var(--text-base);
          color: var(--ft-color-on-primary);
        }
      }
    }
  }

  /* Checkbox */

  .mdc-checkbox__background {
    border-radius: 6px !important;
    .mdc-checkbox__checkmark {
      top: 50% !important;
      left: 50% !important;
      width: 80% !important;
      transform: translate(-50%, -50%) !important;
    }
    .mdc-checkbox__mixedmark {
      width: 52% !important;
    }
  }

  /* Expansion Panel */
  .mat-expansion-panel:not([class*=mat-elevation-z]) {
    box-shadow: none !important;
  }
  .mat-accordion .section-container:not(:last-child) .mat-expansion-panel:not([class*=mat-elevation-z]){
    border-bottom: var(--ft-border-primary) solid var(--ft-color-dark-alpha-tertiary);
  }

  .mat-expansion-panel-header-title {
    /*font-style: italic;*/
    /*text-transform: uppercase;*/
  }



  @media (width >= 40rem) {
    :root {
      --mat-sidenav-container-width: 80px;
    }

    .main-sidenav {
      flex-direction: column;
      /*padding: var(--ft-spacing-3xl) var(--ft-spacing-md);*/

      .main-sidenav-nav-item {
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        width: fit-content;
        border-radius: var(--radius-xl);
        /*gap: 0;*/
        margin-left: auto;
        margin-right: auto;
        padding-right: var(--ft-spacing-md);
        padding-left: var(--ft-spacing-md);

        &.active {
            border-right-width: 0;
        }
      }

    }

    .expanded {
      --mat-sidenav-container-width: 250px;

      .main-sidenav-nav-item {
        width: auto;
        justify-content: start;
        margin-left: var(--ft-spacing-md);
        margin-right: 0;
        padding-right: var(--ft-spacing-md);
        padding-left: var(--ft-spacing-md);
        border-radius: var(--ft-radius-pill) 0 0 var(--ft-radius-pill);
        &.active {
          border-right-width: var(--ft-border-tertiary);
        }
      }
    }

    .mat-drawer-content {
      margin-left: var(--mat-sidenav-container-width) !important;
    }

  }
}
