@layer material-styles {
  .main-sidenav-container {
    background-color: transparent !important;
    flex-grow: 1;
  }

  :root {
    --mat-sidenav-container-width: 250px;
  }

  .mat-drawer-side {
    border-right-width: 0 !important;
  }

  .main-sidenav {

    /*padding: 0 var(--ft-spacing-md);*/
    /*background-color: var(--ft-color-background-quinary);*/
    box-shadow: var(--box-shadow-panel);
    background-color: var(--ft-color-background-primary) !important;
    backdrop-filter: blur(8px);
    overflow: hidden;
    /*transition: width 1s ease-in-out !important;*/
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;

    > .mat-drawer-inner-container {
      overflow: visible !important;
      display: flex;
      flex-direction: column;
      gap: var(--ft-spacing-3xl);
      padding: var(--ft-spacing-md) 0;
    }

    .main-sidenav-header {
      height: 54px;
      /*padding: 0 var(--ft-spacing-md);*/
      .main-sidenav-nav-item {
        width: 100%;
      }

      .logo {
        justify-content: flex-start;
        flex-grow: 1;
      }
    }

    .main-sidenav-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .sidenav-elem {
      opacity: 0;
      transition: opacity 3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .main-sidenav-nav-item {
      display: flex;
      width: auto;
      height: var(--ft-spacing-7xl);
      flex-direction: row;
      align-items: center;
      gap: var(--ft-spacing-sm);
      margin-left: var(--ft-spacing-md);
      margin-right: 0;
      padding-right: var(--ft-spacing-md);
      padding-left: var(--ft-spacing-md);
      border-radius: var(--ft-border-radius-pill) 0 0 var(--ft-border-radius-pill);

      &.active {
        /*background-color: var(--ft-color-background-secondary);*/
        background-color: var(--ft-color-dark-alpha-tertiary);
        color: var(--ft-color-text-primary);
      }
    }

    .main-sidenav-footer {
      height: 54px;
      display: flex;
      align-items: center;
    }
  }

  .mat-drawer-content {
    margin-left: 0 !important;
  }

  /*.main-sidenav {*/
  /*  background-color: var(--ft-color-background-primary) !important;*/
  /*  backdrop-filter: blur(8px);*/
  /*  > .mat-drawer-inner-container {*/
  /*    overflow: visible !important;*/
  /*    display: flex;*/
  /*    flex-direction: column;*/
  /*  }*/
  /*}*/
  @media (width >= 40rem) {
    :root {
      --mat-sidenav-container-width: 80px;
    }

    .main-sidenav {
      flex-direction: column;
      /*padding: var(--ft-spacing-3xl) var(--ft-spacing-md);*/

      .main-sidenav-nav-item {
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        width: fit-content;
        border-radius: var(--radius-xl);
        /*gap: 0;*/
        margin-left: auto;
        margin-right: auto;
        padding-right: var(--ft-spacing-md);
        padding-left: var(--ft-spacing-md);

        /*&.active {*/
        /*  background-color: var(--ft-color-dark-alpha-primary);*/
        /*}*/
      }

    }
    .expanded {
      --mat-sidenav-container-width: 250px;
      .main-sidenav-nav-item {
        width: auto;
        justify-content: start;
        margin-left: var(--ft-spacing-md);
        margin-right: 0;
        padding-right: var(--ft-spacing-md);
        padding-left: var(--ft-spacing-md);
        border-radius: var(--ft-border-radius-pill) 0 0 var(--ft-border-radius-pill);
      }
    }
    .mat-drawer-content {
      margin-left: var(--mat-sidenav-container-width) !important;
    }

  }
}
