@layer material-variables {
  :root {

    /* Surface properties */

    --mdc-theme-surface: #ffffff;
    --mdc-theme-on-surface: #000000;
    --mdc-theme-background: #ffffff;
    --mdc-theme-on-background: #000000;
    --mdc-theme-primary: #6200ee;
    --mdc-theme-on-primary: #ffffff;
    --mdc-theme-secondary: #03dac6;
    --mdc-theme-on-secondary: #000000;

    /* SideNav */
    /*--mat-sidenav-container-width: 250px;*/
    --mat-sidenav-content-text-color: var(--ft-color-text-primary);
    --mat-sidenav-content-background-color: var(--ft-color-background-secondary);
    --mat-sidenav-container-text-color: var(--ft-color-text-primary);

    /* Icon properties */

    --mat-icon-color: var(--ft-color-text-primary);


    /* Toggle Switch */


    /* Dialog */


    /* Overlay*/


    /* button */

    --mdc-filled-button-container-color: var(--ft-color-background-secondary);
    --mdc-filled-button-label-text-color: var(--ft-color-text-primary);
    --mdc-filled-button-container-height: var(--ft-spacing-3xl);
    --mdc-filled-button-label-text-font: var(--ft-font-family-base);
    --mdc-filled-button-container-shape: var(--radius-lg);
    --mdc-filled-button-label-text-size: var(--ft-text-xs);
    --mat-filled-button-horizontal-padding: var(--ft-spacing-md);
    --mat-filled-button-state-layer-color: var(--ft-color-primary);
    --mat-filled-button-hover-state-layer-opacity: 8%;
    --mat-filled-button-pressed-state-layer-opacity: 8%;

    /* Button icons */

    --mdc-icon-button-state-layer-size: var(--ft-spacing-3xl);

    /* Overlay properties */


    /* FormField properties */
    --mat-form-field-container-height: var(--ft-spacing-3xl);
    --mat-form-field-container-vertical-padding: var(--ft-spacing-2xs);
    /*--mdc-filled-text-field-container-color: var(--ft-color-background-tertiary);*/
    --mdc-filled-text-field-container-color: transparent;
    --mdc-filled-text-field-container-shape: var(--ft-radius-pill);
    --mdc-filled-text-field-active-indicator-height: 0;
    --mdc-filled-text-field-focus-active-indicator-height: 0;
    --mat-form-field-leading-icon-color: var(--ft-color-text-primary);
    --mat-form-field-trailing-icon-color: var(--ft-color-text-primary);
    --mdc-filled-text-field-input-text-color: var(--ft-color-text-primary);
    --mdc-filled-text-field-caret-color: var(--ft-color-text-primary);

    /* chip */


    /* InputText properties */

    /* Table */
    --mat-table-header-container-height: var(--ft-spacing-7xl);
    --mat-table-header-headline-color: var(--ft-color-text-tertairy);
    --mat-table-header-headline-font: var(--ft-font-family-base);
    --mat-sort-arrow-color: var(--ft-color-text-primary);

    --mat-table-background-color: var(--ft-color-background-secondary);
    --mat-table-row-item-label-text-color: var(--ft-color-text-primary);
    --mat-table-row-item-label-text-font: var(--ft-font-family-base);
    --mat-table-row-item-label-text-weight: var(--font-weight-medium);
    --mat-table-row-item-outline-width: 0;

    /* paginator */
    --mat-paginator-container-background-color: transparent;
    --mat-paginator-container-text-color: var(--ft-color-text-primary);
    --mat-paginator-container-text-font: var(--ft-font-family-base);
    --mat-select-enabled-trigger-text-color: var(--ft-color-text-primary);
    --mat-select-trigger-text-font: var(--ft-font-family-base);
    --mat-paginator-enabled-icon-color: var(--ft-color-text-primary);
    --mat-paginator-disabled-icon-color: var(--ft-color-text-muted);
    --mdc-outlined-text-field-outline-width: 0;
    --mat-select-enabled-arrow-color: var(--ft-color-text-primary);

    /* Checkbox */
    --mdc-checkbox-unselected-icon-color: var(--ft-color-dark-alpha-secondary);
    --mdc-checkbox-selected-icon-color: var(--ft-color-primary);
    --mdc-checkbox-selected-focus-icon-color: var(--ft-color-primary);
    --mdc-checkbox-selected-hover-icon-color: var(--ft-color-primary);
    --mdc-checkbox-selected-checkmark-color: var(--ft-color-on-primary);
    --mdc-checkbox-selected-focus-state-layer-color: var(--ft-color-on-primary);
    /*--mdc-checkbox-unselected-focus-state-layer-color: var(--ft-color-primary);*/
    --mdc-checkbox-selected-hover-state-layer-color: var(--ft-color-primary);
    --mdc-checkbox-unselected-hover-state-layer-color: var(--ft-color-primary);
    --mdc-checkbox-unselected-pressed-state-layer-color: var(--ft-color-primary);

    /*  Expansion Panel */
    --mat-expansion-container-background-color: transparent;
    --mat-expansion-container-text-color: var(--ft-color-text-primary);
    --mat-expansion-container-shape: 0;
    --mat-expansion-container-text-font: var(--ft-font-family-base);
    --mat-expansion-container-text-size: var(--ft-text-xs);
    --mat-expansion-header-text-color: var(--ft-color-text-primary);
    --mat-expansion-header-text-font: var(--ft-font-family-base);
    --mat-expansion-header-indicator-color: var(--ft-color-text-primary);
    --mat-expansion-header-text-size: var(--text-sm);
    --mat-expansion-header-disabled-state-text-color: var(--ft-color-text-primary);
  }

  body.dark-theme {
  }

}

@media (width >= 40rem) {
  :root {
    /* SideNav */
    /*--mat-sidenav-container-width: 80px;*/
  }

}

@media (min-width: 1024px) {
  :root {
    /*--p-form-field-border-radius: var(--ft-radius-pill)*/
  }
}
