@layer material-styles {
  .main-sidenav-container {
    background-color: transparent !important;
    flex-grow: 1;
  }

  :root {
    --mat-sidenav-container-width: 250px;
  }

  .mat-drawer-side {
    border-right-width: 0 !important;
  }

  .main-sidenav {

    /*padding: 0 var(--ft-spacing-md);*/
    /*background-color: var(--ft-color-background-quinary);*/
    box-shadow: var(--box-shadow-panel) !important;
    background-color: var(--ft-color-background-primary) !important;
    backdrop-filter: blur(8px);
    overflow: hidden;
    /*transition: width 1s ease-in-out !important;*/
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), transform 400ms cubic-bezier(0.25, 0.8, 0.25, 1) !important;

    > .mat-drawer-inner-container {
      overflow: visible !important;
      display: flex;
      flex-direction: column;
      gap: var(--ft-spacing-3xl);
      padding: var(--ft-spacing-md) 0;
    }

    .main-sidenav-header {
      height: 54px;
      /*padding: 0 var(--ft-spacing-md);*/

      .main-sidenav-nav-item {
        width: 100%;
      }

      .logo {
        justify-content: flex-start;
        flex-grow: 1;
      }
    }

    .main-sidenav-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .sidenav-elem {
      opacity: 0;
      transition: opacity 3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }

    .main-sidenav-nav-item {
      display: flex;
      width: auto;
      height: var(--ft-spacing-7xl);
      flex-direction: row;
      align-items: center;
      gap: var(--ft-spacing-sm);
      margin-left: var(--ft-spacing-md);
      margin-right: 0;
      padding-right: var(--ft-spacing-md);
      padding-left: var(--ft-spacing-md);
      border-radius: var(--ft-radius-pill) 0 0 var(--ft-radius-pill);

      &.active {
        /*background-color: var(--ft-color-background-secondary);*/
        background-color: var(--ft-color-dark-alpha-tertiary);
        color: var(--ft-color-text-primary);
      }
    }

    .main-sidenav-footer {
      height: 54px;
      display: flex;
      align-items: center;
    }
  }

  .mat-drawer-content {
    margin-left: 0 !important;
  }

  /*.main-sidenav {*/
  /*  background-color: var(--ft-color-background-primary) !important;*/
  /*  backdrop-filter: blur(8px);*/
  /*  > .mat-drawer-inner-container {*/
  /*    overflow: visible !important;*/
  /*    display: flex;*/
  /*    flex-direction: column;*/
  /*  }*/
  /*}*/
  /*.mat-mdc-header-row,*/
  /*.mat-mdc-row {*/
  /*  min-width: 100%;*/
  /*}*/

  /* Table */

  .mat-footer-row,
  .mat-header-row,
  .mat-row {
    display: inline-flex;
    min-width: 100%;
  }

  .mat-mdc-header-row,
  .mat-mdc-row {
    min-width: 100%;
  }

  /* Apply to BOTH header and data cells in the second last column */
  .mat-mdc-header-row mat-header-cell:nth-last-child(2),
  .mat-mdc-row mat-cell:nth-last-child(2) {
  //background-color: #f0f0f0;
  //font-weight: bold;
  //flex: 0 0 100%;
    flex-grow: 1;
    max-width: 100%;
  }

  .mat-mdc-header-cell {
    --mat-table-row-item-outline-color: var(--ft-color-dark-alpha-secondary);
    /*--mat-table-row-item-outline-width: var(--ft-border-primary);*/
    --mat-table-row-item-outline-width: 0;
    /*border-bottom-width: 1px;*/
    /*border-top: var(--ft-border-primary) solid var(--ft-color-dark-alpha-secondary);*/
  }

  .mat-mdc-header-cell.mat-mdc-table-sticky::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    height: 1px;
    background-color: var(--ft-color-dark-alpha-secondary);
  }

  .mat-mdc-header-cell.mat-mdc-table-sticky::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--ft-color-dark-alpha-secondary);
  }

  .mat-column-select {
    /*flex: 0 0 60px;*/
    width: 60px;
  }

  .mat-mdc-cell {
    background-color: unset;
  }

  .mat-mdc-row:nth-child(odd) {
    background-color: var(--ft-color-table-alternate-row) !important;
  }

  .mat-mdc-row:nth-child(even) {
    background-color: transparent !important;
  }

  .mat-mdc-paginator {
    border-top: var(--ft-border-primary) solid var(--ft-color-dark-alpha-secondary);
  }

  .list-container {
    background-color: var(--ft-color-background-primary);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    overflow: auto;

    .list-header {
      display: flex;
      align-items: center;
      width: 100%;
      padding: var(--ft-spacing-md);
      gap: var(--ft-spacing-md);
      justify-content: space-between;

      .table-search {
        max-width: 400px;
        flex-grow: 1;

        .mat-mdc-form-field-subscript-wrapper {
          display: none;
        }

        input::-webkit-input-placeholder {
          color: var(--ft-color-text-tertairy) !important;
          font-size: var(--text-sm);
        }
      }

      .table-actions-container {
        display: flex;
        align-items: center;
        gap: var(--ft-spacing-sm);
        .filter-button {
          .mdc-button__label {
            display: flex;
            align-items: center;
            gap: var(--ft-spacing-xs);
            .filter-number {
              height: var(--ft-spacing-md);
              width: var(--ft-spacing-md);
              background-color: var(--ft-color-primary);
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: var(--ft-radius-pill);
              color: var(--ft-color-on-primary);
              font-size: var(--ft-text-3xs);
            }
          }
        }
      }
    }
    .list-body {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: 100%;
      overflow: auto;
      .table-container {
        flex-grow: 1;
        overflow: auto;
      }
    }
  }

  /* Buttons */
  .mdc-button {
    line-height: 1 !important;
    overflow: hidden !important;

    &.mat-mdc-unelevated-button {

      & > .mat-icon {
        height: unset !important;
        width: unset !important;
        --mat-icon-color: var(--ft-color-text-primary);
      }
    }
    &.mat-mdc-unelevated-button:not(:disabled) {
      border: var(--ft-border-secondary) solid var(--ft-color-dark-alpha-secondary) !important;
    }
  }
  /* ripple */
  .mat-mdc-button-ripple {
    border-radius: 0 !important;
  }

  /* Button icons */
  .mat-mdc-icon-button {
    display: flex !important;
  }

  /* Form Field */
  .mat-mdc-form-field-input-control {
    font-family: var(--ft-font-family-base) !important;
    font-size: var(--text-sm) !important;
  }

  .mdc-text-field--filled {
    border-bottom-left-radius: var(--ft-radius-pill) !important;
    border-bottom-right-radius: var(--ft-radius-pill) !important;
    border: var(--ft-border-secondary) solid var(--ft-color-dark-alpha-secondary);
    transition: border-color 0.2s ease-in-out;

    &.mdc-text-field--focused {
      border-color: var(--ft-color-primary);
    }

    .mat-mdc-form-field-icon-suffix {
      width: var(--ft-spacing-5xl);
      & > * {
        padding: 0 var(--ft-spacing-sm);
      }
      .mat-icon {
        background-color: var(--ft-color-text-tertairy);
        border-radius: var(--ft-radius-pill);
        height: var(--ft-spacing-md) !important;
        width: var(--ft-spacing-md) !important;
        i {
          width: var(--ft-spacing-md);
          height: var(--ft-spacing-md);
          font-size: var(--text-base);
          color: var(--ft-color-on-primary);
        }
      }
    }
  }

  /* Checkbox */

  .mdc-checkbox__background {
    border-radius: 6px !important;
    .mdc-checkbox__checkmark {
      top: 50% !important;
      left: 50% !important;
      width: 80% !important;
      transform: translate(-50%, -50%) !important;
    }
  }




  @media (width >= 40rem) {
    :root {
      --mat-sidenav-container-width: 80px;
    }

    .main-sidenav {
      flex-direction: column;
      /*padding: var(--ft-spacing-3xl) var(--ft-spacing-md);*/

      .main-sidenav-nav-item {
        display: flex;
        /*flex-direction: column;*/
        justify-content: center;
        width: fit-content;
        border-radius: var(--radius-xl);
        /*gap: 0;*/
        margin-left: auto;
        margin-right: auto;
        padding-right: var(--ft-spacing-md);
        padding-left: var(--ft-spacing-md);

        /*&.active {*/
        /*  background-color: var(--ft-color-dark-alpha-primary);*/
        /*}*/
      }

    }

    .expanded {
      --mat-sidenav-container-width: 250px;

      .main-sidenav-nav-item {
        width: auto;
        justify-content: start;
        margin-left: var(--ft-spacing-md);
        margin-right: 0;
        padding-right: var(--ft-spacing-md);
        padding-left: var(--ft-spacing-md);
        border-radius: var(--ft-radius-pill) 0 0 var(--ft-radius-pill);
      }
    }

    .mat-drawer-content {
      margin-left: var(--mat-sidenav-container-width) !important;
    }

  }
}
