
.p-variant-filled {
  border-width: 0 !important;
}

.p-button {
  border-width: 0 !important;
}

.p-dialog {
  /*padding: var(--ft-spacing-md);*/
}

.p-dialog-header {
  /*padding: 0 !important;*/
  background-color: var(--ft-color-background-senary);
  border-radius: var(--radius-xl) var(--radius-xl) 0 0;
}

.p-dialog-content {
  display: flex;
  flex-direction: column;
  overflow: visible !important;
  padding: 0 !important;
  .dialog-form-body-container {
    background-color: var(--ft-color-background-secondary);
    /*border-top: var(--ft-border-primary) solid var(--ft-color-dark-alpha-tertiary);*/
    /*border-bottom: var(--ft-border-primary) solid var(--ft-color-dark-alpha-tertiary);*/
    .dialog-form-body {
      padding: var(--ft-spacing-md);
    }
  }
  .dialog-footer {
    padding: var(--ft-spacing-md);
    display: flex;
    justify-content: flex-end;
    background-color: var(--ft-color-background-senary);
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
  }
}

.p-inputtext {
  font-size: var(--text-sm) !important;
  width: 100%;
}

.p-select {
  min-width: 100px;
}

.p-select-label {
  font-size: var(--text-sm) !important;}

.p-datepicker {
  width: 100%;
}


@media (min-width: 1024px) {
  .p-datepicker {
    width: 170px;
  }
}

@media (width >= 1280px) {
}
