/* Variables */

@layer app-variables {
  /*Primary (first)*/
  /*Secondary (second)*/
  /*Tertiary (third)*/
  /*Quaternary (fourth)*/
  /*Quinary (fifth)*/
  /*Senary (sixth)*/
  /*Septenary (seventh)*/
  /* ft-text */
  /* ft-title */
  /* ft-sub-title */
  /* ft-img-profile */
  /* ft-shade-bg */
  /* ft-shade-border */
  /* ft-indicator */
  /* ft-vdivider */
  /* ft-hdivider */
  /* ft-panel */
  /* ft-flex-center */
  @theme {
    --color-mauve-50: #f2eefb;
    --color-mauve-100: #e1daf7;
    --color-mauve-200: #c3b4ee;
    --color-mauve-300: #a48fe6;
    --color-mauve-400: #8669dd;
    --color-mauve-500: #6946d5;
    --color-mauve-600: #4d2ab7;
    --color-mauve-700: #3a1f89;
    --color-mauve-800: #26155b;
    --color-mauve-900: #130a2e;
    --color-mauve-950: #0a0619;
  }

  :root {
    /* --- Colors --- */
    --ft-color-primary: var(--color-mauve-500);
    --ft-color-on-primary: #fff;
    --ft-color-secondary: #6c757d;
    --ft-color-success: #28a745;
    --ft-color-danger: #dc3545;
    --ft-color-warning: #ffc107;
    --ft-color-info: #DBECF2;
    --ft-color-light: #fff;
    --ft-color-dark: #000;
    /*--ft-color-global-shadow: 1, 93, 231;*/
    --ft-color-global-shadow: 0, 0, 0;
    --color-electric-primary: #34C759;
    --color-electric-secondary: #ff00ae;

    --ft-color-text-base: var(rgba(var(--ft-color-dark), 0.8), --ft-color-dark);
    --ft-color-text-muted: #b3b3b3;

    --ft-color-text-primary: #000;
    --ft-color-text-secondary: rgba(0, 0, 0, 0.8);
    --ft-color-text-tertairy: rgba(0, 0, 0, 0.4);
    --ft-color-background-muted: #f7f7f7;

    --ft-color-background-body: 255, 255, 255;

    --ft-color-background-primary: rgba(255, 255, 255, 0.89);
    --ft-color-background-secondary: #fff;
    --ft-color-background-tertiary: #f0f0f0;
    --ft-color-background-quaternary: #e3e3e3;
    --ft-color-background-quinary: rgba(255, 255, 255, 0.5);
    --ft-color-background-senary: #fafafa;

    --ft-color-background-image: linear-gradient(
      129deg,
      rgb(255 0 88 / 4%),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(-138deg, rgb(0 246 255 / 0%), rgba(255, 255, 255, 0)),
    linear-gradient(28deg, rgb(0 133 255 / 0%) 0%, rgba(255, 255, 255, 0)),
    linear-gradient(-49deg, rgb(255 0 113 / 0%) 0%, rgb(199 0 255 / 0%)),
    #ededed;

    --ft-color-dark-alpha-primary: rgba(0, 0, 0, 0.03);
    --ft-color-dark-alpha-secondary: rgba(0, 0, 0, 0.1);
    --ft-color-dark-alpha-tertiary: rgba(0, 0, 0, 0.07);

    --ft-color-border: #a3a3a3;

    --ft-color-link: var(--ft-color-primary);

    /* --- Typography --- */
    --ft-font-family-base: Inter, "Helvetica Neue", Arial, sans-serif;
    --ft-font-family-headings: "Georgia", serif; /* Example */

    /* 10px */
    --ft-text-4xs: calc(var(--text-base) * 10 / 16);
    /* 11px */
    --ft-text-3xs: calc(var(--text-base) * 11 / 16);
    /* 12px */
    --ft-text-2xs: calc(var(--text-base) * 12 / 16);
    /* 13px */
    --ft-text-xs: calc(var(--text-base) * 13 / 16);

    --ft-line-height-base: 1.5;
    --ft-line-height-headings: 1.2;

    /* --- Spacing --- */

    /* 4px */
    --ft-spacing-2xs: var(--spacing);
    /* 8px */
    --ft-spacing-xs: calc(var(--spacing) * 2);
    /* 12px */
    --ft-spacing-sm: calc(var(--spacing) * 3);
    /* 16px */
    --ft-spacing-md: calc(var(--spacing) * 4);
    /* 20px */
    --ft-spacing-lg: calc(var(--spacing) * 5);
    /* 24px */
    --ft-spacing-xl: calc(var(--spacing) * 6);
    /* 28px */
    --ft-spacing-2xl: calc(var(--spacing) * 7);
    /* 32px */
    --ft-spacing-3xl: calc(var(--spacing) * 8);
    /* 36px */
    --ft-spacing-4xl: calc(var(--spacing) * 9);
    /* 40px */
    --ft-spacing-5xl: calc(var(--spacing) * 10);
    /* 44px */
    --ft-spacing-6xl: calc(var(--spacing) * 11);
    /* 48px */
    --ft-spacing-7xl: calc(var(--spacing) * 12);

    /* --- Borders --- */
    --ft-border-primary: 1px;
    --ft-border-secondary: 2px;
    --ft-border-tertiary: 3px;

    /*800px*/
    --ft-radius-pill: 50rem;

    /* --- Shadows --- */
    --box-shadow-panel: 0px 3px 5px rgba(var(--ft-color-global-shadow), 0.02);
    --box-shadow-dialog: 0 4px 8px rgba(var(--ft-color-global-shadow), 0.2);
    --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    --box-shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

    /* --- Transitions --- */
    --transition-base: all 0.2s ease-in-out;

    --ft-blur-sm: 4px;
    --ft-blur-lg: 24px;

    /*--p-form-field-sm-font-size: var(--ft-text-2xs);*/

    --ft-form-field-filled-focus-background: #fff;

    /* table */
    --ft-color-table-alternate-row: rgba(0, 0, 0, 0.02);
  }

  /* Override variables for the dark theme */
  body.dark-theme {
    color-scheme: dark;
    --ft-color-primary: #bba5ff;
    --ft-color-secondary: #868e96;
    --ft-color-light: #fff; /* Dark becomes light background */
    --ft-color-dark: #000; /* Light becomes dark background */

    --ft-color-text-base: var(--ft-color-light); /* Use light color for text */
    --ft-color-text-muted: var(--ft-color-secondary);

    --ft-color-text-primary: rgba(255, 255, 255, 0.7);
    --ft-color-text-secondary: rgba(255, 255, 255, 0.6);
    --ft-color-text-tertairy: rgba(255, 255, 255, 0.4);

    --ft-color-background-body: 33, 37, 41; /* Dark background */

    /* --ft-color-background-primary: rgba(255, 255, 255, 0.2);
    --ft-color-background-secondary: rgba(255, 255, 255, 0.08);
    --ft-color-background-tertiary: #393838;
    --ft-color-background-quaternary: #e3e3e3;
    --ft-color-background-quinary: rgba(255, 255, 255, 0.26);

    --ft-color-dark-alpha-primary: rgba(255, 255, 255, 0.03);
    --ft-color-dark-alpha-secondary: rgba(255, 255, 255, 0.1); */

    --ft-color-background-primary: rgb(0 0 0 / 88%);
    --ft-color-background-secondary: rgba(255, 255, 255, 0.08);
    --ft-color-background-tertiary: #2d2d2d;
    --ft-color-background-quaternary: #e3e3e3;
    --ft-color-background-quinary: rgba(255, 255, 255, 0.08);
    --ft-color-background-senary: #0f0f0f;
    --ft-color-dark-alpha-primary: rgb(255 255 255 / 15%);
    --ft-color-dark-alpha-secondary: rgb(255 255 255 / 18%);

    --ft-color-border: #fff;

    --ft-color-link: var(--ft-color-primary);

    /* --ft-color-background-image: linear-gradient(
        129deg,
        rgb(255 0 88 / 3%),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(-138deg, rgb(0 246 255 / 0%), rgba(255, 255, 255, 0)),
      linear-gradient(28deg, rgb(0 133 255 / 0%) 0%, rgba(255, 255, 255, 0)),
      linear-gradient(-49deg, rgb(255 0 113 / 0%) 0%, rgb(199 0 255 / 0%)), #000; */

    --ft-color-background-image: linear-gradient(
      129deg,
      rgb(255 0 88 / 4%),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(-138deg, rgb(0 246 255 / 0%), rgba(255, 255, 255, 0)),
    linear-gradient(28deg, rgb(0 133 255 / 0%) 0%, rgba(255, 255, 255, 0)),
    linear-gradient(-49deg, rgb(255 0 113 / 0%) 0%, rgb(199 0 255 / 0%)),
    #373737;

    --box-shadow-sm: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.075); /* Adjust shadow for dark */
    --box-shadow-md: 0 0.5rem 1rem rgba(255, 255, 255, 0.15);
    --box-shadow-lg: 0 1rem 3rem rgba(255, 255, 255, 0.175);
  }
}
