<table *ngIf="color === 'common'" class="color-common-table">
  <tr>
    <th>Variation\Color</th>
    <th *ngFor="let color of CommonColors">{{ color }}</th>
  </tr>
  <tr *ngFor="let variation of variations">
    <td>{{ variation }}</td>
    <td *ngFor="let color of CommonColors" >
      <div class="cell">
        <div class="color-sample" [ngStyle]="{'background-color': 'var(--colors-' + color + '-' + variation + ')'}"></div>
        <div class="color-desc">
          {{ '--colors-' + color + '-' + variation }}
        </div>
      </div>

    </td>
  </tr>
</table>


<table *ngIf="color === 'on-surface'" class="color-surface-table">
  <tr>
    <th>Variation\Color</th>
    <th>Surface</th>
  </tr>
  <tr *ngFor="let level of surfaceLevels">
    <td>{{ level }}</td>
    <td>
      <div class="cell">
        <div class="color-sample-outer-container">
          <div class="color-sample-container">
            <div class="color-sample solid" [ngStyle]="{'background-color': 'var(--ft-colors-n-on-surface-100)'}"></div>
            <div class="color-sample transparent" [ngStyle]="{'background-color': 'var(--ft-colors-n-on-surface-' + level + ')'}"></div>
          </div>
        </div>
        <div class="color-desc">
          {{ '--ft-colors-n-on-surface-' + level }}
        </div>

      </div>

    </td>
  </tr>
</table>


<table *ngIf="color === 'surface'" class="color-surface-table">
  <tr>
    <th>Variation\Color</th>
    <th>Surface</th>
  </tr>
  <tr *ngFor="let level of surfaceLevels">
    <td>{{ level }}</td>
    <td>
      <div class="cell">
        <div class="color-sample-outer-container">
          <div class="color-sample-container">
            <div class="color-sample solid" [ngStyle]="{'background-color': 'var(--ft-colors-n-surface-100)'}"></div>
            <div class="color-sample transparent" [ngStyle]="{'background-color': 'var(--ft-colors-n-surface-' + level + ')'}"></div>
          </div>
        </div>
        <div class="color-desc">
          {{ '--ft-colors-n-surface-' + level }}
        </div>

      </div>

    </td>
  </tr>
</table>

