<div class="patient-info ft-panel">
  <ft-icon-button iconClass="arrow_back" variant="ghost" size="lg-size"></ft-icon-button>
  <div class="patient-name-container">
    <span class="patient-name ft-text">
        Mr. AHMED IBRAHIMI
    </span>
  </div>
  <ft-badge value="Première hospitalisation" severity="primary" size="sm-size"></ft-badge>
  <div class="sub-info">
    <div class="sub-info-item">
      <span class="material-symbols-rounded">wc</span>
      <span class="line-none">Homme</span>
    </div>
    <div class="ft-vdivider h-5"></div>
    <div class="sub-info-item-grow">
      <span class="material-symbols-rounded">cake</span>
      <span class="text-truncate line-none">
            24 ans et 4 mois
          </span>
    </div>
    <div class="ft-vdivider h-5"></div>
    <div class="sub-info-item">
      <span class="info-label line-none">Chambre:</span>
      <span class="line-none">305</span>
    </div>
    <div class="ft-vdivider h-5"></div>
    <div class="sub-info-item">
      <span class="info-label line-none">Lit:</span>
      <span class="line-none">A</span>
    </div>
  </div>

  <ft-icon-button iconClass="more_vert" variant="ghost" size="md-size"></ft-icon-button>
</div>


<div class="ft-panel secondary-navbar">
  <ft-tabs [activeTabValue]="activeTabValue()" (activeTabValueChange)="activeTabValue.set($event)" variant="underlined" color="primary" [fullWidth]="true">
    <ft-tab label="Détails du patient" value="details"></ft-tab>
    <ft-tab label="Assurance" value="assurance"></ft-tab>
    <ft-tab label="Historique Medical" value="medical-history"></ft-tab>
    <ft-tab label="Biométrie" value="biometrie"></ft-tab>
    <ft-tab label="Pièces jointes" value="attachments"></ft-tab>
  </ft-tabs>
</div>


<router-outlet (activate)="onActivate($event)"></router-outlet>

