<!-- input-showcase.component.html -->
<div class="all-case-container">
  <h1 class="showcase-title">Button All Cases</h1>
  <div class="cases-container">
    <div class="case-row case-row-heading">
      <div class="case-item case-item-heading">

      </div>
      <div class="case-item">
        Flat
      </div>
      <div class="case-item">
        Outlined
      </div>
      <div class="case-item">
        Faded
      </div>
      <div class="case-item">
        Ghost
      </div>


    </div>
    @for (state of states; track state) {
    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        {{state}}
      </div>
      @for (variant of variants; track variant) {
      <div class="case-item">
        <ft-button
          [state]="state"
          [isLabel]="true"
          [label]="label"
          [size]="size"
          [color]="color"
          [variant]="variant"
          [radius]="radius"
          [disabled]="false"
          [isPrefixIconClass]="isPrefixIconClass"
          [prefixIconClass]="'contacts_product'"
          [isSuffixIconClass]="isSuffixIconClass"
          [suffixIconClass]="'arrow_right_alt'"
        >
        </ft-button>

      </div>
      }

    </div>
    }


  </div>
</div>
