<div class="field-container" [class]="labelPlacement + ' ' + size + ' ' + variant + ' ' + state + ' ' + color" [class.invalid]="state === 'invalid' || invalid" [ngStyle]="{
    '--_field-container-gap': (!isLabel && (labelPlacement === 'label-outside-left' || labelPlacement === 'label-outside'))
                    ? '0'
                    : null
  }">
  <div *ngIf="isLabel && labelPlacement !== 'label-inside'" class="label-row">
    <span class="label line-none" [ngClass]="{
           'content-2xs--semibold': size === 'sm-size' || size === 'md-size' || size === 'xs-size',
           'content-xs--semibold': size === 'lg-size',
           }">{{ label }} <span *ngIf="required && !disabled">*</span></span>
  </div>
  <div class="input-wrapper" [class]="radiusClasses" (mousedown)="handleMousedown($event)" (click)="focus()">
    <div *ngIf="isPrefixIconClass && prefixIconClass" class="prefix-icon">
      <span class="material-symbols-rounded">{{prefixIconClass}}</span>
    </div>
    <div class="content-section">
      <div *ngIf="isLabel && labelPlacement === 'label-inside'" class="label-row">
        <span class="label line-none" [ngClass]="{
           'content-2xs--bold': size === 'sm-size' || size === 'md-size' || size === 'xs-size',
           'content-xs--bold': size === 'lg-size',
           }">{{ label }} <span *ngIf="required && !disabled">*</span></span>
      </div>
      <div class="input-row">
        <span *ngIf="startContent" class="start-content">{{ startContent }}</span>
        <input #inputRef class="native-input" [placeholder]="placeholder || ''" [(ngModel)]="value"
          (ngModelChange)="onValueChange($event)" [disabled]="state === 'disabled' || disabled"
          [readonly]="state === 'readonly' || readonly" [required]="required" [type]="currentInputType" />
        <span *ngIf="endContent" class="end-content">{{ endContent }}</span>
      </div>
    </div>
    <div class="suffix-icon flex" *ngIf="state !== 'readonly'">
      <button *ngIf="isClearable && value && state !== 'disabled' && !disabled" class="clear-btn" type="button"
        (click)="clear()" aria-label="Clear input">
        <span class="material-symbols-rounded">close_small</span>
      </button>
      <button *ngIf="inputType === 'password' && state !== 'disabled' && !disabled" class="clear-btn" type="button"
        (click)="togglePasswordVisibility()" [attr.aria-label]="passwordVisible ? 'Hide password' : 'Show password'">
        <span class="material-symbols-rounded">{{ passwordVisible ? 'visibility_off' : 'visibility' }}</span>
      </button>
      <div *ngIf="isSuffix1IconClass && suffix1IconClass && !disabled" class="suffix suffix1">
        <span class="material-symbols-rounded">{{suffix1IconClass}}</span>
      </div>
      <div *ngIf="isSuffix2IconClass && suffix2IconClass" class="suffix suffix2">
        <span class="material-symbols-rounded">{{suffix2IconClass}}</span>
      </div>
    </div>
  </div>
  <div class="helper-text-container">
    <div *ngIf="(state === 'invalid' || invalid) && errorMessage" class="error-message">
      <p class="error-text content-2xs--normal">{{ errorMessage }}</p>
    </div>
    <div *ngIf="isDescription && description && state !== 'invalid'" class="description">
      <p class="highlight content-2xs--normal">{{ description }}</p>
    </div>
  </div>
</div>
