<!-- input-showcase.component.html -->
<div class="all-case-container">
  <h1>FT-Radio Component All cases</h1>
  <div class="cases-container">
    <div class="case-row case-row-heading">
      <div class="case-item case-item-heading">

      </div>
      <div class="case-item">
        Selected
      </div>
      <div class="case-item">
        Unselected
      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Rest
      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'rest'"
          [invalid]="false"
          [select]="true"
          [inactive]="false"
        >
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'rest'"
          [invalid]="false"
          [select]="false"
          [inactive]="false"
        >
        </ft-radio>


      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Hover
      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'hover'"
          [invalid]="false"
          [select]="true"
          [inactive]="false"
        >
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'hover'"
          [invalid]="false"
          [select]="false"
          [inactive]="false"
        >
        </ft-radio>


      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Press
      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'press'"
          [invalid]="false"
          [select]="true"
          [inactive]="false"
        >
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'press'"
          [invalid]="false"
          [select]="false"
          [inactive]="false"
        >
        </ft-radio>


      </div>



    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Disabled
      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'rest'"
          [invalid]="false"
          [select]="true"
          [inactive]="true"
        >
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'rest'"
          [invalid]="false"
          [select]="false"
          [inactive]="true"
        >
        </ft-radio>


      </div>


    </div>

    <div class="case-row">
      <div class="case-item case-item-heading vertical-text">
        Invalid
      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'rest'"
          [invalid]="true"
          [select]="true"
          [inactive]="false"
        >
        </ft-radio>

      </div>
      <div class="case-item">
        <ft-radio
          [isLabel]="isLabel"
          [label]="label"
          [isDescription]="isDescription"
          [description]="description"
          [size]="size"
          [state]="'rest'"
          [invalid]="true"
          [select]="false"
          [inactive]="false"
        >
        </ft-radio>


      </div>


    </div>

  </div>
</div>
