
.field-container {
  display: flex;
  align-items: center;
  gap: var(--ft-unit-200);
  .field {
    width: 32px;
    height: 32px;
    border-radius: var(--ft-radius-pill);
    position: relative;

    .radio {
      /*display: flex;*/
      /*align-items: center;*/
      /*justify-content: center;*/
      border: var(--ft-border-secondary) solid var(--ft-color-border-200);
      border-radius: var(--ft-radius-pill);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .control {
        width: 13px;
        height: 13px;
        border-radius: var(--ft-radius-pill);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }



  }

  .content {
    display: flex;
    flex-direction: column;
  }

  &.md-size {
    .field {    .radio {
      width: 22px;
      height: 22px;
    }
    }

  }

  &.rest {
    &.inactive {
      .field {
        .radio {
          border: var(--ft-border-secondary) solid var(--ft-radio-muted);
        }
      }
      .content {
        color: var(--ft-color-on-surface-muted);
      }

    }
    &.invalid {
      .field {
        .radio {
          border: var(--ft-border-secondary) solid var(--ft-color-danger);
        }
      }

    }
  }

  &.hover {
    .field {
      background-color: var(--ft-form-field-100);
    }

  }

  &.press {
    .field {
      background-color: var(--ft-form-field-200);
    }

  }

  &.select {
    .field {
      .radio {
        border: var(--ft-border-secondary) solid var(--ft-color-primary);
        .control {
          background-color: var(--ft-color-primary);
        }
      }
    }

    &.inactive {
      .field {
        .radio {
          border: var(--ft-border-secondary) solid var(--ft-radio-muted);
          .control {
            background-color: var(--ft-radio-muted);
          }
        }
      }

    }

    &.invalid {
      .field {
        .radio {
          border: var(--ft-border-secondary) solid var(--ft-color-danger);
          .control {
            background-color: var(--ft-color-danger);
          }
        }
      }

    }

  }

  &.invalid {
    .content {
      color: var(--ft-color-danger);
    }
  }

  &.inactive {
    .content {
      color: var(--ft-color-on-surface-muted);
    }
  }

  &.focus {
    .field {
      border: var(--ft-border-primary) solid var(--ft-color-primary);
    }
  }



}



