.radio {

  border: var(--ft-border-secondary) solid red;
  border-radius: var(--ft-radius-pill);

  &.md-size {
    width: 22px;
    height: 22px;
  }

  &.rest {
    width: 22px;
    height: 22px;
  }
}
