<!--<div class="ft-panel lg:h-auto lg:!overflow-auto tab-body-container">-->
  <div class="flex justify-end tab-body-header">
    <div class="flex items-center gap-2">
      <!--          <span class="font-bold leading-none">Last update</span>-->
      <div class="flex items-center gap-2">
        <span class="leading-none">29/05/2024</span>
        <button><i class="icon-date"></i></button>
      </div>
    </div>
  </div>

  <div id="tabBodyContent" class="lg:!flex-row tab-body-content">
    <div class="hm-container lg:pr-3" >
      @for (entity of medicalHistoryEntities; track entity.title) {
        <div class="mini-card">
          <div class="header">
            <div class="flex items-center gap-2">
              <span class="leading-none ft-text">{{ entity.title }}</span>
            </div>
            <div class="flex items-center gap-2">
              <button (click)="showDialog(entity)">
                <i class="icon-plus"></i>
              </button>
            </div>
          </div>
          <div class="mini-card-body">
            @for (block of entity.blocks; track block.title) {
              <div class="micro-card">
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                    @if (block.status) {
                      <span class="chip" [class]="block.class">{{
                          block.status
                        }}</span>
                    } @if (block.surgeon) {
                    <span class="ft-sub-title"
                    >Surgeon: {{ block.surgeon }}</span
                    >
                  } @if (block.date) {
                    <span class="ft-sub-title">{{ block.date }}</span>
                  } @if (block.note) {
                    <i class="icon-comment"></i>
                  }
                  </div>
                  <!--                      <div class="flex items-center gap-2">-->
                  <!--                        <button><i class="icon-close"></i></button>-->
                  <!--                      </div>-->
                </div>
                <div class="flex flex-col overflow-hidden">
                  <span class="leading-none ft-text">{{ block.title }}</span>
                </div>
              </div>
            }
          </div>
        </div>

      }
    </div>

    <div class="general-notes">
      <div class="comment">
        <div class="comment-header">
          <div class="flex items-center gap-2">
            <span class="ft-text">Notes générales</span>
          </div>
          <div class="flex items-center gap-2">
            <button><i class="icon-search"></i></button>
          </div>
        </div>
        <div class="comment-body-outer-container lg:!overflow-auto">
          <div class="ft-top-scroll-overlay-container">
            <div class="ft-scroll-overlay"></div>
          </div>
          <div class="comment-body-container">
            @for (comment of comments; track comment.id) {
              <div class="comment-block">
                <div class="flex justify-between items-center gap-3 w-full">
                  <div class="flex items-center gap-2">
                      <span class="ft-img-profile">{{
                          comment.author.charAt(0)
                        }}</span>
                    <div class="flex flex-col">
                      <span class="ft-title">{{ comment.author }}</span>
                      <span class="ft-sub-title">{{ comment.date }}</span>
                    </div>
                  </div>
                  <div class="flex items-center gap-2">
                    <button><i class="icon-vertical-dots"></i></button>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  @if (comment.quoteId) { @if
                  (getCommentById(comment.quoteId); as quotedComment) {
                    <div class="quoted">
                      <div class="ft-indicator"></div>
                      <span>{{ quotedComment.author }}</span>
                      <p class="ft-text">
                        {{ quotedComment.text }}
                      </p>
                    </div>
                  } }
                  <p>
                    {{ comment.text }}
                  </p>
                </div>
              </div>
            }
          </div>
          <div class="ft-bottom-scroll-overlay-container">
            <div class="ft-scroll-overlay"></div>
          </div>
        </div>
        <div class="comment-send-block">
          <div class="flex items-center gap-2">
            <span>Ajouter une note</span>
          </div>
          <div class="flex items-center gap-2">
            <button><i class="icon-sent"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
