<!--<div class="ft-panel lg:h-auto lg:overflow-auto! tab-body-container">-->
  <div class="flex-justify-end tab-body-header">
    <div class="flex-items-center gap-2">
      <div class="flex-items-center gap-2">
        <span class="line-none">29/05/2024</span>
        <ft-icon-button iconClass="calendar_today" variant="ghost" size="sm-size"></ft-icon-button>
      </div>
    </div>
  </div>

  <div id="tabBodyContent" class="tab-body-content">
    <div class="hm-container" >
      @for (entity of medicalHistoryEntities; track entity.title) {
        <div class="mini-card">
          <div class="header">
            <div class="flex-items-center gap-2">
              <span class="line-none ft-text">{{ entity.title }}</span>
            </div>
            <div class="flex-items-center gap-2">
              <ft-icon-button iconClass="add" variant="ghost" size="sm-size" (click)="showDialog(entity)"></ft-icon-button>
            </div>
          </div>
          <div class="mini-card-body">
            @for (block of entity.blocks; track block.title) {
              <div class="micro-card">
                <div class="flex-justify-between flex-items-center gap-3 w-full">
                  <div class="flex-items-center gap-2">
                    @if (block.status) {
                      <ft-badge [value]="block.status" [severity]="block.class === 'chip-color-danger' ? 'danger' : 'primary'" size="sm-size"></ft-badge>
                    } @if (block.surgeon) {
                    <span class="ft-sub-title"
                    >Surgeon: {{ block.surgeon }}</span
                    >
                  } @if (block.date) {
                    <span class="ft-sub-title">{{ block.date }}</span>
                  } @if (block.note) {
                    <ft-icon-button iconClass="comment" variant="ghost" size="xs-size" state="disabled"></ft-icon-button>
                  }
                  </div>
                  <!--                      <div class="flex items-center gap-2">-->
                  <!--                        <button><i class="icon-close"></i></button>-->
                  <!--                      </div>-->
                </div>
                <div class="flex-col overflow-hidden">
                  <span class="line-none ft-text">{{ block.title }}</span>
                </div>
              </div>
            }
          </div>
        </div>

      }
    </div>

    <div class="general-notes">
      <div class="comment">
        <div class="comment-header">
          <div class="flex-items-center gap-2">
            <span class="ft-text">Notes générales</span>
          </div>
          <div class="flex-items-center gap-2">
            <ft-icon-button iconClass="search" variant="ghost" size="sm-size"></ft-icon-button>
          </div>
        </div>
        <div class="comment-body-outer-container">
          <div class="ft-top-scroll-overlay-container">
            <div class="ft-scroll-overlay"></div>
          </div>
          <div class="comment-body-container">
            @for (comment of comments; track comment.id) {
              <div class="comment-block">
                <div class="flex-justify-between flex-items-center gap-3 w-full">
                  <div class="flex-items-center gap-2">
                      <span class="ft-img-profile">{{
                          comment.author.charAt(0)
                        }}</span>
                    <div class="flex-col">
                      <span class="ft-title">{{ comment.author }}</span>
                      <span class="ft-sub-title">{{ comment.date }}</span>
                    </div>
                  </div>
                  <div class="flex-items-center gap-2">
                    <ft-icon-button iconClass="more_vert" variant="ghost" size="sm-size"></ft-icon-button>
                  </div>
                </div>
                <div class="flex flex-col overflow-hidden">
                  @if (comment.quoteId) { @if
                  (getCommentById(comment.quoteId); as quotedComment) {
                    <div class="quoted">
                      <div class="ft-indicator"></div>
                      <span>{{ quotedComment.author }}</span>
                      <p class="ft-text">
                        {{ quotedComment.text }}
                      </p>
                    </div>
                  } }
                  <p>
                    {{ comment.text }}
                  </p>
                </div>
              </div>
            }
          </div>
          <div class="ft-bottom-scroll-overlay-container">
            <div class="ft-scroll-overlay"></div>
          </div>
        </div>
        <div class="comment-send-block">
          <div class="flex-items-center gap-2">
            <span>Ajouter une note</span>
          </div>
          <div class="flex-items-center gap-2">
            <ft-icon-button iconClass="send" variant="ghost" color="primary" size="sm-size"></ft-icon-button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->

