<div class="group-field-container" [class.inactive]="inactive">
    <div *ngIf="isLabel" class="group-field-label content-xs--normal">
        {{label}}
    </div>
    <div class="group-field-content-container">
        <div class="group-field-content" [ngClass]="flexDirection">
            <ft-checkbox *ngFor="let option of options" [isLabel]="option.isLabel" [label]="option.label"
                [isDescription]="isDescription || option.isDescription" [description]="option.description"
                [size]="option.size || size" [state]="option.state || 'rest'"
                [invalid]="invalid ?? option.invalid ?? false" [checked]="option.checked ?? false"
                [indeterminate]="option.indeterminate ?? false" [inactive]="inactive || option.inactive || false">
            </ft-checkbox>
        </div>
        <div *ngIf="invalid && errorMessage" class="error-message">
            <p class="error-text content-2xs--normal">{{ errorMessage }}</p>
        </div>
        <div *ngIf="description && !invalid" class="description">
            <p class="highlight content-2xs--normal">{{ description }}</p>
        </div>
    </div>
</div>