:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 var(--ft-spacing-md) var(--ft-spacing-md);
  .add-patient-container {
    /*background-colors: var(--ft-colors-background-primary);*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    overflow: auto;
    .page-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: var(--ft-spacing-md);
      border-bottom: var(--ft-border-primary) solid var(--ft-color-dark-alpha-tertiary);
      h2 {
        font-weight: var(--font-weight-medium);
        font-size: var(--text-base);
      }
      .header-actions {
        display: flex;
        gap: var(--ft-spacing-sm);
        align-items: center;
      }
    }
    .patient-form {
      width: 100%;
      overflow: auto;
      container-name: sidebar;
      container-type: inline-size;
    }

    @container sidebar (width > 800px) {
      .back-to-top-link {
        visibility: visible;
      }
      mat-panel-title {
        /*background-colors: red !important;*/
      }
    }
    .mat-expansion-panel {
      overflow: visible;
    }

    ::ng-deep .mat-expansion-panel-body {
      margin: 0 auto !important;
    }
  }

  .fluid-form {
    display: flex;
    column-gap: 16px;
    flex-wrap: wrap;
    max-width: 760px;
    .field-container {
      width: fit-content;
      min-width: 200px;
      .p-floatlabel {
        /*width: fit-content;*/
      }
    }
  }
}


