<label class="field-container" [class]="size + ' ' + state" [class.select]="select" [class.inactive]="inactive"
  [class.invalid]="invalid">
  <input type="radio" class="native-radio" [name]="name" [value]="value" [checked]="select"
    [disabled]="inactive || state === 'disabled'" (change)="onRadioChange($event)" />

  <span class="field">
    <span class="radio">
      <span class="control"></span>
    </span>

  </span>
  <span class="content" [ngClass]="{
           'content-2xs--normal': size === 'xs-size',
           'content-xs--normal': size === 'sm-size' || size === 'md-size',
           'content-sm--normal': size === 'lg-size',
           }">
    <span *ngIf="isLabel" class="label">
      {{label}}
    </span>
    <span *ngIf="isDescription" class="description">
      {{description}}
    </span>
  </span>

</label>