<div class="login"> <!-- Main container for the login section -->
  <div class="login__bg">
    <div class="ellipse"></div>
  </div>
  <div class="login__box"> <!-- Box that holds all login elements -->
    <div class="login__logo">
      <!-- Place for logo or brand image -->
      <div class="login__logo-text">
        <div class="login__logo-sub-text1">FIRE</div>
        <div class="login__logo-sub-text2">HIS</div>
      </div>
    </div>

    <div class="login__fields-container"> <!-- Wrapper for alignment/padding -->
      <div class="login__fields-inner-container">
        <form class="login__fields" (submit)="onLogin()"> <!-- Container for all input fields -->
          <h2 class="login__title">Connexion</h2>

          <ft-input
            [variant]="'outlined'"
            [isLabel]="true"
            [label]="'Utilisateur'"
            [size]="'md-size'"
            [radius]="'md-radius'"
            [(value)]="loginData.username"
            [placeholder]="'Nom d\'utilisateur'"
            [isPrefixIconClass]="true"
            [prefixIconClass]="'person'"
            [required]="true">
          </ft-input>

          <ft-input
            [variant]="'outlined'"
            [isLabel]="true"
            [label]="'Mot de passe'"
            [size]="'md-size'"
            [radius]="'md-radius'"
            [inputType]="'password'"
            [(value)]="loginData.password"
            [placeholder]="'Entrez votre mot de passe'"
            [isPrefixIconClass]="true"
            [prefixIconClass]="'lock'"
            [required]="true">
          </ft-input>

          <div class="login__options">
            <ft-checkbox
              [isLabel]="true"
              [label]="'Se souvenir de moi'"
              [(value)]="loginData.rememberMe"
              [size]="'sm-size'">
            </ft-checkbox>

            <button type="button" class="login__forgot-link" (click)="onForgotPassword()">
              Mot de passe oublié ?
            </button>
          </div>

          <ft-button
            class="login__submit"
            [isLabel]="true"
            [label]="'Se connecter'"
            [size]="'md-size'"
            [color]="'primary'"
            [variant]="'flat'"
            [radius]="'md-radius'"
            [state]="buttonState"
            (click)="onLogin()">
          </ft-button>
        </form>
      </div>
    </div>

  </div>
</div>

