:host {
  overflow: auto;
  display: flex;
}

.spacer-mt-4 {
  margin-top: var(--ft-unit-400);
}

.error-text {
  color: var(--ft-color-danger);
  font-size: var(--ft-text-xs);
}

.dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--ft-unit-200);
  margin-top: var(--ft-unit-600);
}
