<form [formGroup]="surgicalHistoryForm">
  <div class="dialog-form-body-container">
    <div class="dialog-form-body">

      <div class="field-container">
        <p-floatlabel variant="in" class="w-full">
          <p-autocomplete
            [required]="true"
            formControlName="surgeryName"
            [suggestions]="surgeryNameSuggestions"
            (completeMethod)="searchSurgeryNames($event)"
            field="name"
            [showClear]="true"
            class="grow"
            id="surgeryName"
            variant="filled"
          >
          </p-autocomplete>
          <label for="surgeryName">Nom de la chirurgie <span>*</span></label>
        </p-floatlabel>
        <small
          class="p-error"
          *ngIf="shouldShowError(surgeryNameControl)"
        >
            <span *ngIf="surgeryNameControl?.errors?.['required']"
            >Le nom de la chirurgie est obligatoire.</span
            >
          <span *ngIf="surgeryNameControl?.errors?.['minlength']"
          >Le nom de la chirurgie doit contenir au moins {{ surgeryNameControl?.errors?.['minlength'].requiredLength }} caractères.</span
          >
          <span *ngIf="surgeryNameControl?.errors?.['noSpecialCharacters']"
          >Le nom de la chirurgie ne doit pas contenir de caractères spéciaux.</span
          >
        </small>
      </div>

      <div class="field-container">
        <p-floatlabel variant="in" class="w-full">
          <p-datepicker
            formControlName="surgeryDate"
            [showClear]="true"
            id="surgeryDate"
            showIcon
            iconDisplay="input"
            variant="filled"
            dateFormat="dd/mm/yy"
            [inputStyle]="{'width': '100%'}"
          ></p-datepicker>
          <label for="surgeryDate">Date de la chirurgie</label>
        </p-floatlabel>
      </div>

      <div class="form-container">
        <p-floatlabel variant="in">
          <div class="p-inputgroup w-full">
              <textarea
                pTextarea
                id="note"
                formControlName="note"
                rows="3"
                cols="30"
                style="resize: none"
                class="w-full"
                variant="filled"
              ></textarea>
            <p-button type="button" pButton icon="pi pi-times" severity="secondary"
                    [rounded]="true"
                    [text]="true"
                    (click)="clearField('note')"
                    *ngIf="noteControl?.value"></p-button>
          </div>
          <label for="note">Note</label>
        </p-floatlabel>
      </div>

    </div>
  </div>

  <div class="flex justify-end gap-2 dialog-footer">
    <p-button
      label="Annuler"
      severity="secondary"
      (click)="closeDialog(null)"
      size="small"
    />
    <p-button label="Enregistrer" (click)="saveSurgicalHistory()" size="small"
              [disabled]="!surgicalHistoryForm.valid"/>
  </div>
</form>
