<div class="all-case-container">
  <h1 class="showcase-title">Textarea All Cases</h1>
  <div class="cases-container">
    <div class="case-row case-row-heading">
      <div class="case-item case-item-heading"></div>
      @for (placement of labelPlacements; track placement) {
        <div class="case-item">
          {{ placement | titlecase }}
        </div>
      }
    </div>

    @for (state of states; track state) {
      <div class="case-row">
        <div class="case-item case-item-heading vertical-text">
          {{ state }}
        </div>
        @for (placement of labelPlacements; track placement) {
          <div class="case-item">
            <ft-textarea [state]="state === 'with-description' ? 'rest' : state" [variant]="variant" [size]="size"
              [label]="label" [placeholder]="placeholder" [labelPlacement]="placement"
              [errorMessage]="state === 'invalid' ? 'Error message' : ''" [isDescription]="state === 'with-description'"
              [description]="state === 'with-description' ? 'This is a helpful description.' : ''"
              [value]="showContent ? 'Some content here to see the clear button' : ''">
            </ft-textarea>
          </div>
        }
      </div>
    }
  </div>
</div>
